[2021-06-22 10:01] derekbay20 opened #1 "docker failed to initialize"
Here am having a problem regarding opening docker desktop.
And having connection error like
error during connect: In the default daemon configuration on Windows, the docker client must be run with elevated privileges to connect.: Get "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/version": open //./pipe/docker_engine: The system cannot find the file specified.
Client:
 Cloud integration: 1.0.17
 Ver

[2021-06-24 12:34] kibblewhite opened #3 "Visual Studio Code Insiders Feature Request"
Docker Dev Environments to work with Visual Studio Code Insiders - Please, thank you :)

![image](https://user-images.githubusercontent.com/4837916/123263105-e726f500-d4f8-11eb-9bb2-cd5b669e7104.png)

Currently, no workaround that I am aware of.

[2021-06-24 14:21] nebuk89 commented on #3
@kibblewhite Thanks for opening! Yes we have this on our current sprint so hopefully we will add this in a couple of weeks :)

[2021-06-24 16:18] datumflux opened #4 "UI disappears when "Dev Environments" is selected"
**Describe the bug**
The normal screen comes out for a while, and then all UI disappears.
Occurs only when you click the "Dev Environments" menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Dashboard open
2. Click on 'Dev Environments'
3. See error

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="1272" alt="스크린샷 2021-

[2021-06-24 16:41] chris-crone commented on #4
Hi @datumflux! Thanks for the report.

Can you please close the UI, reopen it and then follow the instructions here to upload a diagnostics report: https://docs.docker.com/docker-for-windows/troubleshoot/#diagnose-and-feedback

Please then post the ID here

[2021-06-24 16:50] datumflux commented on #4
B8E819BB-DC7E-429E-A067-E472381D2388/20210624164738

[2021-06-24 17:15] kibblewhite commented on #3
You lot are the best! Thanks team.

[2021-06-24 19:30] ZaLiTHkA commented on #3
I discovered this myself earlier today at work (where I run macOS), just wanted to test it at home first (where I run Pop!_OS and Windows 10). for the record, I run VSCode Insiders on all three.

it seems someone beat me to logging this one. 🍻 either way, just a quick note then: this does indeed affect all three OS platforms.

anyways, I second @kibblewhite's sentiments: thank you, these tools you

[2021-06-24 22:21] slecache opened #5 "Requirements are not detected"
**Describe the bug**
Git, VSCode and VCode Remote Containers are installed but not detected.

I clicked on Retry, updated Git, updated VSCode, restarted Docker Desktop for Windows and restarted Windows but dependencies are still not detected.

**Screenshots**

![image](https://user-images.githubusercontent.com/9013641/123339283-93dd9280-d54a-11eb-81eb-f93f39a51366.png)

[2021-06-24 22:27] dlanileonardo opened #6 "Checkout recursive Submodules"
**Tell us about your request**
I think many repositories use submodules to keep microservices organized in compose, and in the main repo of stack link references for each.

**Which service(s) is this request for?**
Checkout recursive submodules

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Woking of Submodules of repository

**Are you current

[2021-06-24 22:28] slecache opened #7 "VSCodium support"
**Tell us about your request**
It would be great if VSCodium was supported by Docker Dev Environments. I'm not sure if this is possible because the Remote Containers extension doesn't seem to be available on VSCodium.

**Are you currently working around the issue?**
I reinstalled VSCode in order to try Docker Dev Environements.

[2021-06-25 07:34] gtardif commented on #4
Hi, thanks for the diagnostics.
For some reason I think one of the devenv file has been scratched ; could you :
`cat ~/.docker/devenvironments/data.json`
From your logs, I suspect this contains `null` instead of json content

If this is the case; to unblock you, you can then
`rm ~/.docker/devenvironments/data.json`
then try again to restart Docker Desktop Dashboard, hopefully you should be able to

[2021-06-25 12:51] jdhaines opened #8 "Failed Environment Can't be Removed"
**Describe the bug**
I started an environment from the initial Dev Environments page and then tried to cancel/remove it while it was initializing.  I didn't realize it was trying to start or I would have waited.  Now that environment can't be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Paste a github link in the top right box, and click "Create"
2. As soon as the process starts,

[2021-06-25 14:43] nebuk89 commented on #5
Hey @slecache, thanks for taking the time! Sorry it has gone odd :(

Can you please close the UI, reopen it and then follow the instructions here to upload a diagnostics report: https://docs.docker.com/docker-for-windows/troubleshoot/#diagnose-and-feedback

Please then post the ID here
🙏 thank you!

[2021-06-25 14:58] gtardif commented on #8
Thx for the feedback @jdhaines
We've got this in our current sprint, I hope a fix will be shipped in our next release

[2021-06-25 18:46] rwood112 commented on #5
I have the exact same issue, except that Git was initially detected as installed, and I needed to install the other two. After installing VS Code and the containers extension, Docker Desktop does not detect that they have been installed since the initial check. Diagnostic ID is:
F4EB9DE1-8043-435C-A1B5-CA7135D60ED1/20210625184148

[2021-06-25 19:25] lmf-git commented on #3
What value does it add?

[2021-06-26 01:16] rafalfaro18 commented on #8
I get the same behavior. You should test this in slow internet connections. If you stop it in the middle of downloading the images it doesn't really stop, you have to quit docker desktop and start it again.

[2021-06-26 01:27] rafalfaro18 opened #9 "Offline Sharing for Individuals without a Team plan"
**Tell us about your request**
Offline Sharing for Individuals without a Team plan

**Which service(s) is this request for?**
Dev Environments Sharing

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I don't have a Team plan because I'm not part of any organization that pays that plan. I want to try the sharing dev environments feature but I'd h

[2021-06-26 15:11] mikaelkaron commented on #5
Same issue, Diagnostic ID: 2E7566C6-E2E0-4199-AA92-8033792CAEF6/20210626150820

[2021-06-26 20:12] Al-Ferguson commented on #3
My VSCode Insiders install has all my Preview & Daily Extensions. This allows my base VSCode install to be a little more stable/predictable while I can flip over and test the latest extensions/fixes if I want/need. As this is still experimental, this is where I would prefer to be running from for the near future.

[2021-06-26 20:32] lmf-git commented on #3
I'm really struggling to find a use case for dev environments, there's a big share button and the video that I watched barely demonstrated the main point... any modern dev environment has to be collaborative like that.

I think Vercel is about to kill Docker and VS Code in one hit at this rate.

Please, someone, anyone, demonstrate the magnificence of Docker's dev environments properly.

[2021-06-26 22:03] slecache commented on #5
Hi @nebuk89,

My diagnostic ID is 9E325B8A-9FD2-4067-82DB-93BD3A9FE810/20210626215749.

Let me know if you need more info or if you want me to do some testing.

Thanks for your help!

[2021-06-27 00:44] DewZ89 opened #10 "Can't create dev environment with private GitHub repository"
**Describe the bug**
I can't create dev env with private GitHub repo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dev Environnements'
2. Fill create field with private GitHub repo
3. Click on 'Create button'
4. See error

**Expected behavior**
Successful creation of dev env

**Desktop (please complete the following information):**
 - OS: OS X
 - Version 12.0 Beta (21A5248p)

[2021-06-28 07:09] rumpl commented on #5
Hey all, thank you for all the diagnostic ids, could you also provide us with the output of these lines:

[code]

Thanks!

[2021-06-28 07:12] rumpl commented on #10
Hi @DewZ89

In step 4, what is the error you see?

Can you also please follow the instructions here to upload a diagnostics report: https://docs.docker.com/docker-for-windows/troubleshoot/#diagnose-and-feedback ?

[2021-06-28 07:12] rumpl commented on #7
This is not possible today unfortunately since the remote containers extension can't run on vscodium :/

[2021-06-28 09:08] nebuk89 commented on #7
@slecache thanks! Yeah we will need to check if there are other options 🤔
It is our goal to support more IDEs as we go along so we will take a look how we could support this :)

[2021-06-28 09:09] nebuk89 commented on #9
Hey @rafalfaro18 thanks for the feedback
We do want to find a way to give people a way to try out the sharing aspects prior to subscribing and will leave this open as an enhancement to suggest this :)

To be clear though, we will keep sharing as a team feature rather than move it down. Thanks!

[2021-06-28 09:34] glours commented on #3
VsCode Insiders will be supported in the next release of Docker Desktop!

[2021-06-28 10:25] Dids opened #11 "Specify branch when cloning"
**Tell us about your request**
Add the ability to specify or select a branch when creating a new Dev Environment from a git repository.

**Which service(s) is this request for?**
Docker Desktop's Dev Environments.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
For most of the projects I work on, I would need to specify a branch when cloning/cr

[2021-06-28 10:28] rumpl commented on #11
Hey @Dids thanks for opening this issue, we are working on this in this sprint so it will be available in the next release.

Fun fact: we had this feature but it got lost in a refactoring

👍

[2021-06-28 10:30] Dids commented on #10
Hello @rumpl,

As I'm also seeing this issue on the latest version of macOS Big Sur + latest version of Docker for Mac, I noticed that the diagnostics are only possible for Docker for Windows, not for the macOS version, so those steps won't work here.

I can clone my private repositories locally just fine, but Docker doesn't seem to have access to `~/.ssh`, as the authentication is failing.

1. En

[2021-06-28 10:39] nebuk89 commented on #9
oh and @rafalfaro18 can you email me at bengotch@docker.com , as you are the first person who is asking/interested we will see what we can do to enable you if you are ok to give us more feedback :D

[2021-06-28 10:45] Dids commented on #10
@rumpl Sorry about that, edited the previous message to correct myself.

Here's my diagnostics ID in case it helps: `6D252ED7-F5C4-4642-8C2B-189FB7322DBC/20210628103808`

[2021-06-28 10:49] Dids commented on #10
Figured it out!

Apparently I just needed to add the SSH key to the SSH agent, which I've actually never had to do before, but it makes sense in hindsight:
[code]

[2021-06-28 11:12] slecache commented on #5
From Git Bash :

[code]

From WSL :
[code]

[2021-06-28 12:01] rumpl commented on #10
Glad you made it work! We'll update the docs, add a paragraph about cloning over SSH.

@DewZ89 could you try and do the same thing @Dids did and tell us if that worked for you?

[2021-06-28 12:27] glours commented on #5
Few others questions for you all @slecache @mikaelkaron @rwood112:

- Did you add the`code` command line in Path?
- Are you using WSL2?
- Can you tell me if the following registry key `SOFTWARE\Classes\VSCodeSourceFile\shell\open`  is located in `HKEY_LOCAL_MACHINE` or `HKEY_USERS`/`HKEY_CURRENT_USER`?

[2021-06-28 12:58] slecache commented on #5
The `/c/Program Files/Microsoft VS Code/bin` folder is in the `PATH`.

Yes. At startup, Docker Desktop displaying sonething like "starting WSL 2 backend".

[code]

`HKEY_USERS` does not have a `SOFTWARE` folder. You can find all the values from my registry :
[code]

[2021-06-28 14:24] usha-mandya opened #12 "Unable to create sample Dev Environments"
**Describe the bug**
Unable to create sample Dev Environments from `git@github.com:dockersamples/single-dev-env.git` and `git@github.com:dockersamples/compose-dev-env.git` Git repositories on Docker Desktop version 3.5.1 (build 66090).

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Git URL `git@github.com:dockersamples/compose-dev-env.git` in the Create field
2. Click Create
3. This

[2021-06-28 14:27] rumpl commented on #12
Thanks @usha-mandya

Can you please follow the instructions here to upload a diagnostics report: https://docs.docker.com/docker-for-mac/troubleshoot/#diagnose-and-feedback

Could you also show us the logs of the created environment: click on the environment and a popup should open with the logs

Thanks

[2021-06-28 14:31] usha-mandya commented on #12
Sure @rumpl . Will upload the diagnostics. Meanwhile, here's a screenshot of the logs

![image](https://user-images.githubusercontent.com/47779042/123654245-c971cc80-d825-11eb-9147-7d48d53b4b5b.png)

[2021-06-28 14:36] usha-mandya commented on #12
Uploaded the diagnostics. Here's the ID - BE9AFAAF-F68B-41D0-9D12-84760E6B8740/20210628143152

[2021-06-28 14:42] usha-mandya commented on #12
Thank you @rumpl. That Adding the SSH to the ssh-agent worked.

![image](https://user-images.githubusercontent.com/47779042/123655951-608b5400-d827-11eb-8c70-69c7ead8558f.png)

[2021-06-28 15:48] rwood112 commented on #5
Didn't see an entry in the Path variable, but the command line produces version output:
[code]
And the following command tells me where code is working from:
[code]

Yes

[code]
Looks like it's in HKEY_CURRENT_USER for me.

[2021-06-28 19:04] Dids opened #13 "Custom entrypoint/bootstrap support for dev containers"
**Tell us about your request**
When opening a VSCode project and creating a dev container from a working Dev Environment, the dev container doesn't seem to run through any kind of bootstrap logic and skips any custom Dockerfile entrypoints.
This makes development hard, as we can't bootstrap the dev container with certain sensitive data, such as adding an SSH key as a secret and running it through

[2021-06-29 09:10] usha-mandya commented on #12
@rumpl Here's the PR to update docs -  https://github.com/docker/docker.github.io/pull/13081. PTAL

[2021-06-29 10:03] nebuk89 commented on #13
@Dids thanks for all your feedback so far! Would you like to have a chat with me/the rest of the team building Dev envs to give feedback directly? Drop me an email on bengotch@Docker.com and we can sort out a time if you are interested

[2021-06-29 10:18] EdenBW commented on #5
For me only Git isn't being detected.
This is on a completely fresh win10 install.

Registry key is in HKEY_LOCAL_MACHINE
[code]

Code directory in path
[code]

Using wsl 2
[code]

Diagnost ID: A968B590-F309-48D4-8747-C2CAC979EE8D/20210629101537

[2021-06-29 12:22] qnm opened #14 "Debugging Dev Environments Locally"
**Tell us about your request**
I have a repository which I wish to run as a 'Dev Environment'. I have added the original `docker-compose.yaml` to the `.docker` directory, however I receive an `Invalid template:` error when I add this repo to Dev Environments in Docker Desktop.

Modifying the master branch on a repo to debug is dangerous and inefficient. I could potentially fork the repo, but this

[2021-06-30 10:44] slecache commented on #7
I managed the Remote Containers extension installation on VSCodium with [this guide](https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace). I hope it could help you to add support of VSCodium.

[2021-06-30 15:01] gtardif commented on #11
Hi @Dids that should be in next release, you will be able to add `@mybranch` suffix in git urls

[2021-06-30 15:01] rumpl commented on #6
Hi @dlanileonardo, thanks for opening this issue. We overlooked this, it should be fairly easy to fix. I'll keep you posted.

[2021-06-30 16:41] B-0-B-B-Y commented on #8
Seems appropriate for me to add this here, I managed to build a sample compose environment successfully, it was running correctly without issues. I stopped it. Once stopped, I hit the trash icon, and now it is stuck on removing as shown in OPs original comment. Not sure if what you're working on in your current sprint will account for this also or if it requires a new issue. Please let me know!

R

[2021-06-30 16:45] rumpl commented on #8
We do! I'm working on a slowish 4G connection. The problem is that, since I implemented it I knew I had to wait so I never saw the problem. We did however fix this issue recently.

@B-0-B-B-Y is the environment still there if you close/reopen the dashboard?

[2021-06-30 17:02] B-0-B-B-Y commented on #8
@rumpl yep, still there, I've restarted/quit docker desktop and the environment is still visible and stuck on removing. Clicking the log view for it just shows an empty panel. The images/containers are removed, so perhaps it's just a visual bug?

[2021-06-30 17:31] rumpl commented on #8
@B-0-B-B-Y ok so it's not a visual bug, it got stuck at some point, if you look at `~/.docker/devenvironments/data.json` you should find the lingering environment. It would really help us debug your issue if you could upload a diagnostics report and give us the ID, info here: https://docs.docker.com/docker-for-windows/troubleshoot/#diagnose-and-feedback

Thanks

[2021-06-30 19:08] B-0-B-B-Y commented on #8
@rumpl okay no worries, I've ran the steps, the docker diagnostics ID is as follows: `BE8DBB72-5697-4343-9147-E0CB95B50B47/20210630190151`.

I don't seem to have that directory in my WSL home folder, where would I find it on the windows host?

[2021-06-30 20:28] rmorasse415 opened #15 "Cannot clone dev environment from behind company firewall"
**Description**

When accessing a server from behind a corporate firewall using https, often self-signed certificates are used.  Docker Desktop does not appear to be using the windows certificate stores and doesn't seem to have a way to add a trusted certificate.

When trying to clone you get this error:

Preparing to clone inside a volume
Installing credential helpers... done
Cloning into '/code'

[2021-07-01 03:35] Alauraa opened #16 "Docker Dev Enviroments Does not support custom directory installs."
As the name states, if you install in a custom directory, docker will not be able to detect it.

[2021-07-01 03:37] SHenry07 opened #17 "cant create container if there is a dot in the git url"
**Describe the bug**
cant create container if there is a dot in the git url.
Like: http://gitlab.com/Firstname.Lastname/XXXX.git

**To Reproduce**
Steps to reproduce the behavior:
1. create a user that username is mail style(Firstname.Lastname)
2. create a repo

**Expected behavior**
Like `git clone`, support all git url

**Desktop (please complete the following information):**
 - OS: window
 - Ve

[2021-07-01 07:39] torstenek opened #18 "Ability to provide ssh keys for cloning"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

**Which service(s) is this request for?**
Let us know which product(s) you want this for?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A clear and concise description of what the problem is. Ex. I'm always frustrated

[2021-07-01 07:40] torstenek opened #19 "ability to check out multiple repos to the dev container"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

**Which service(s) is this request for?**
Let us know which product(s) you want this for?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A clear and concise description of what the problem is. Ex. I'm always frustrated

[2021-07-01 07:40] torstenek opened #20 "support for alternative IDEs"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

**Which service(s) is this request for?**
Let us know which product(s) you want this for?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A clear and concise description of what the problem is. Ex. I'm always frustrated

[2021-07-01 07:43] rumpl commented on #18
Hey @torstenek, can you explain more what you mean by this please? When cloning over SSH we talk to the ssh-agent so any key that is loaded in there can and will be used during cloning.

[2021-07-01 07:49] torstenek commented on #18
Cloning a private repo with https to the dev container works fine.
Using the ssh url fails with 'denied public key'
Works fine in a shell.

I'm probably missing something?

- T

On Thu, Jul 1, 2021 at 9:43 AM Djordje Lukic ***@***.***>
wrote:

[2021-07-01 07:52] rumpl commented on #18
[We updated the docs the other day](https://docs.docker.com/desktop/dev-environments/#start-a-single-container-dev-environment), the important part is `When cloning a Git repository using SSH, ensure you’ve added your SSH key to the ssh-agent. To do this, open a terminal and run ssh-add <path to your public ssh key>.`

Can you check and see if that works for you?

[2021-07-01 07:56] danielcastilho commented on #20
Could we use "VS Code Insiders" instead of the default VSCode? I already have the insiders flavour installed on my system and not need to install the standard  vscode together in my environment...

[2021-07-01 07:58] torstenek commented on #18
That was it. Silly me. That pro tip should be made more prominent. I think
others who are in TL;DR-mode will encounter this too :)

On Thu, Jul 1, 2021 at 9:52 AM Djordje Lukic ***@***.***>
wrote:

[2021-07-01 08:06] gtardif commented on #4
This will be fixed with the next release (hopefully shipping soon)
In the meantime `rm ~/.docker/devenvironments/data.json`  should unblock to let you getting back into Dev Environments.

[2021-07-01 08:06] rumpl commented on #18
I agree, that's why we decided to add a check if there are any keys in the agent when you give us a `git://` url.

So it should be more prominent that way :)

[2021-07-01 09:17] #18 closed

[2021-07-01 09:17] torstenek commented on #18
Works as expected

[2021-07-01 11:27] ckolumbus opened #21 "Support for private docker registries"
**Tell us about your request**
Provide the possibility to configure and use a private docker registry (on my case one hosted on prem) for pulling, publishing and sharing docker dev envs

**Which service(s) is this request for?**
Improve configurability of docker dev environments feature.

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I'm worki

[2021-07-01 16:02] rumpl commented on #17
Hello @SHenry07 nice catch! We will definitely fix this quickly.

Thanks

[2021-07-01 16:03] rumpl commented on #19
Hey @torstenek could you explain a bit more what you are after and what is your usecase?

Thanks

[2021-07-02 12:50] nemetsSY commented on #20
I think, we should also think about Eclipse and IntelliJ IDEA support.
These are a popular ones

[2021-07-03 15:32] maxklock opened #22 "Support vscode container description .devcontainer"
**Tell us about your request**
You use the vscode remote development feature, but you implemented your own configuration system. Why not support .devcontainer configuration? I've already added those files to some of my repositories and now I would have to change everything to your custom system.

**Which service(s) is this request for?**
Single container and Compose based dev environments

**Tell

[2021-07-04 01:51] bpmct opened #23 "Remote support: respect `docker context` or $DOCKER_HOST"
**Tell us about your request**
Docker only only starts containers locally, even if I have set a $DOCKER_HOST var.

**Which service(s) is this request for?**
Docker dev environments

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

I am using docker context to manage & develop off remote containers from my local machine. I love how docker dev env

[2021-07-04 13:59] fabioqcorreia commented on #5
Same issue here.
ID: 9B87D860-3F47-439A-A60A-FA854B4233EB/20210704134356

[2021-07-05 07:37] chris-crone commented on #21
Thanks for the request @ckolumbus! I've opened an issue for this on our public roadmap too: https://github.com/docker/roadmap/issues/240

[2021-07-05 08:17] nebuk89 commented on #20
VSCode insiders is coming soon and we will see if we can start playing with some Jetbrains bits this sprint :) watch this space and keep letting us know if there are other IDEs you would like to see (theia?)

[2021-07-05 08:27] chris-crone commented on #16
Hi @Alauraa. Is this a duplicate of [this issue](https://github.com/docker/dev-environments/issues/14)?

[2021-07-05 08:38] nebuk89 commented on #10
@DewZ89 if you fancy giving us some direct feedback or chatting to the team on a call drop me an email on bengotch@docker.com :D

[2021-07-05 08:44] nebuk89 commented on #14
Hey @qnm if you fancy giving us some direct feedback or chatting to the team on a call drop me an email on bengotch@docker.com :D

[2021-07-05 08:44] nebuk89 commented on #16
@Alauraa if you fancy giving us some direct feedback or chatting to the team on a call drop me an email on bengotch@docker.com :D

[2021-07-06 09:10] diwangtseb opened #24 "Windows Git always need to install"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
![image](https://user-images.githubusercontent.com/52818250/124573877-84c8df80-de7c-11eb-9fb3-aa9d5ed920c8.png)
2.
![image](https://user-images.githubusercontent.com/52818250/124573936-93af9200-de7c-11eb-821c-d1a29e359aec.png)
3. wsl docker-compose can't shut down
![image]

[2021-07-06 09:32] rumpl commented on #24
Hey @diwangtseb

I'm not sure I understand the point `3.`, at what point do you get this error?

As for git, I see you are in `c:\users\administrator` is that a shell you opened as admin? Do you have git wit a "normal" user shell (or powershell)?

[2021-07-06 09:44] diwangtseb commented on #24
@rumpl
Thank you for your answer which is indeed a question of authority，admin is normal 😅

[2021-07-06 09:49] diwangtseb commented on #24
3. wsl docker-compose can't shut down
![image](https://user-images.githubusercontent.com/52818250/124579901-29015500-de82-11eb-8508-ab30def777a5.png)
But I still have this problem, when I choose to stop, I get an error, but the previous version didn't，what should i do ?

[2021-07-06 09:53] rumpl commented on #24
Thanks, the error you have is not related to dev environments, it's best you open an issue for the docker-compose error here: https://github.com/docker/for-win/issues

[2021-07-06 10:06] diwangtseb commented on #24
@rumpl  ok!

[2021-07-06 10:06] #24 closed

[2021-07-07 04:52] Alauraa commented on #16
So, It's not a copy of that persay, well not at all, say if i were to Visual Studio Code in a custom directory, say ( Z:/Applications/Visual Studio Code, ) Even with the stable version of docker downloaded and installed, it will not detect visual studio code installed, it will simply keep saying in the setting's pane "Install" and you can move out of it and use docker normally, but if its on a cus

[2021-07-07 12:49] LorenzoTinfena commented on #5
Same issue, It does't detect git, (fresh windows 10)

[2021-07-08 12:15] BitPatty commented on #22
+1

I was silly and assumed this already works out of the box when trying it out initially with one of my projects. Having to create and maintain a second configuration makes things both confusing and cumbersome.

While it's probably not as easy to maintain compatibility between the two systems I (and I'd bet many other people) would prefer not to clutter repositories with even more configuration

[2021-07-08 13:22] nebuk89 commented on #23
@bpmct this is an awesome idea! Thank you for the feedback. We will include this on our backlog

[2021-07-08 13:23] nebuk89 commented on #8
@B-0-B-B-Y thanks for all your feedback on this, if you would be interested in having a chat with the team directly and having a chat, drop me an email on bengotch@Docker.com :)

[2021-07-08 17:59] dawidp commented on #10
I have the same problem with private repo but on Self-Hosted Gitlab.
I'm using Windows 10.
[code]

SSH Agent is running:

[code]

and the key is added:

[code]
and I can clone the repo:

[code]

but when I try to launch Dev Environments in Docker Desktop I get this error:

[code]

[2021-07-09 03:22] pnunn opened #25 "Needed to restart the container to get it connected to VSCode"
**Describe the bug**
Download either my own container from docker hub or the single-dev-env container, and on first start, the connection to VS Code fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the image
2. Wait for VS Code to run and fail.
Errors attached in screen shots.

**Expected behavior**
It should run as it does when the containers are restarted and vscode manually sel

[2021-07-09 09:18] nvthuong1996 opened #26 "How to reinstall environments"
If use vscode remote container extension, all config define in .devcontainer folder.
If config change vscode will waring rebuild image and reload window.

i start use Docker Development Environments by clone 1 project git. If project does not have enough environments how can i add config and rebuild Development Environments. for example i want to add mysql docker, ... etc.
If you have to have a fu

[2021-07-09 13:05] glours commented on #10
Issue was closed automatically because we merged a PR on this subject.
Still a work in progress

[2021-07-10 20:55] jshederer opened #27 "VSCode is not detected"
- [X] I have tried with the latest version of Docker Desktop
  - [ ] I have tried disabling enabled experimental features
  - [X] I have uploaded Diagnostics
  - Diagnostics ID:73CF25EE-6654-41BA-918C-DBE649F7E4B2/20210710203913

### Actual behavior
In "Dev Environments", neither Visual Studio Code nor Visual Studio Code Remote Containers Extension are detected.
Visual Studio perfectly sees contai

[2021-07-13 00:28] aphex commented on #19
@rumpl I think this is a similar concept to what I am looking for so I will hijack but please let me know if I need to get booted to my own issue.

The setup we run is each microservice is in its own repo (product-a-front-end, product-a-backend, product-b-front-end, etc) then we have another repo (dev-infrastructure or something like that) that containers various "project" folders. Each with a com

[2021-07-13 08:34] torstenek commented on #19
An umbrella repo holding each service as a git submodule worked as a
stopgap for me.

On Tue, 13 Jul 2021 at 02:28, Ross Gerbasi ***@***.***> wrote:

[2021-07-14 04:37] lutaiphong opened #28 "Dev Environments: Error on OPEN IN VSCODE"
While trying Dev Environments feature, I got a bug when I click "OPEN IN VSCODE" button, it shows an error as in screenshot.

Steps to reproduce the behavior:
1. Open Docker Desktop
2. Choose "Dev Environments (Preview)"
3. Click "Compose bases dev environment"
4. Wait for docker-compose finishes
5. Click "OPEN IN VSCODE" button on any container

Expected behavior
- VScode is opened with the code

[2021-07-14 12:22] Nordes opened #29 "SSH Key is not being used to clone which makes the clone fails"
**Describe the bug**
I add the repo to clone (Dev Environment) using SSH as an url. When cloning it fails saying that the password is not being given. However, on my pc I have the key in my user directory and usually works without any issues.

The big point here is that the SSH Key is not being used to clone which makes the clone fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2021-07-14 12:27] rumpl commented on #29
Hi @Nordes,

Cloning over SSH only works if you have the SSH key loaded into the ssh-agent.

Could you try and add your key to the agent and re-clone?

[2021-07-15 06:05] bounlu commented on #10
I have the same problem. I added ssh key with `ssh-add` but still does not work with private repo on macOS.

[2021-07-15 07:03] DewZ89 commented on #10
Hi @nebuk89
Sorry for my late reply.
i updated Docker Desktop yesterday, let me try again and I make you a feedback.

[2021-07-15 12:57] slecache opened #30 "Error invoking remote method 'dev-envs-backend' when click on "Open in VSCode""
**Describe the bug**
Got a red error message when I try to "open in VSCode" : `Error invoking remote method 'dev-envs-backend': Error: {"Message":"Get \"http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.41/containers/json?all=1&filters=%7B%22label%22%3A%7B%22com.docker.devenvironments.name%3Dsingle-dev-env-keen_lehmann%22%3Atrue%7D%7D&limit=0\": context canceled"}`

**To Reproduce**
Steps to reproduce the

[2021-07-15 13:46] EliiseS commented on #22
I thought it worked out of the box too with `.devcontainers` and I will not use this feature until it does

[2021-07-15 13:53] corradocavalli commented on #22
I agree with @EliiseS, `.devcontainers` is the way to go.

[2021-07-15 14:15] glours commented on #5
When Git isn't detected, can you reinstall it and choose between `Git from the command line...` or `Use Git and optional Unix tools...`

<img width="369" alt="gitbash" src="https://user-images.githubusercontent.com/705411/125802766-f893c147-dd3b-4293-9cc6-00b31c5e0f01.PNG">

And if you want to clone from private repo, you also need to check the usage of the `Git Credential Manager Core`
<img width

[2021-07-15 16:20] rwood112 commented on #5
Unfortunately, I can no longer contribute to the diagnosis of the issue. I migrated to a new machine cloning the original via a full image backup. On starting up docker desktop at that point, all the components were detected, and I was able to establish a dev environment.

[2021-07-16 12:26] hingston commented on #27
I was having the same issue. It was fixed in Docker Desktop version 3.5.2 (66501) for me.

[2021-07-16 15:21] rumpl commented on #30
Hey @slecache thanks for opening this,

We have identified the problem and are working on a fix.

Even though the error message is not the same this is a duplicate of #28, I'll keep this one open just in case.

Would you be OK if we sent you a build with a fix for this sometime next week?

[2021-07-16 15:21] rumpl commented on #28
Hey @lutaiphong thanks for opening this issue.

We have identified the problem and are working on a fix.

Cheers

[2021-07-16 21:04] slecache commented on #30
For sure, you can send me a build with a fix.

[2021-07-16 23:45] Robin-Ln opened #31 "Proxy not detected"
**Describe the bug**
I want to use private repository. I'm using a vpn and i have configure the proxy in my `.gitconfig` file.
I try also to configure the proxy in `docker desktop`

<img width="1263" alt="Capture d’écran 2021-07-17 à 01 36 42" src="https://user-images.githubusercontent.com/34136686/126017934-626f5f8e-6bc0-4d51-a3e9-710090d0a4f7.png">

**To Reproduce**
Steps to reproduce the beha

[2021-07-18 10:02] PotatoHD404 opened #32 "Add mounting folder feature"
It would be great if I could mount a folder to my dev environment, such as GitKraken.
Or it even can improve vscode integration.
Look at how Jet Brains products work with WSL on windows. It's mounting the project folder and IDE can detect all changes faster because of that.

[2021-07-19 01:34] #4 closed

[2021-07-19 07:46] chris-crone commented on #4
Thanks for closing this @datumflux :)

This is fixed in Desktop 3.5.2 which is rolling out to users now. If anyone with this issue doesn't see an update, click the whale icon then "Check for Updates..." which will force check

[2021-07-19 13:47] nebuk89 commented on #32
This is an awesome idea, we were looking at local folders in the current sprint @rumpl has been looking at some of these. This is a bit different but very cool!

@PotatoHD404 let me know if you have other feedback, would love to chat to you if you fancy a call with me/the team :) drop me an email on bengotch@docker.com

[2021-07-19 15:59] nebuk89 commented on #22
Thanks for the feedback all :) we know that people <3 dev containers, but we are also looking at supporting other IDEs (initially some Jetbrains bits and Theia).
To enable this we are looking at using Compose as agnostic and something all users could pick up.

We are looking at if part of that path is supporting the devcontainer.json on route and will keep you updated as we review this :)

[2021-07-19 16:00] nebuk89 commented on #30
@slecache if you have more feedback or would be interested in talking about what you would like to see in the product with the team drop me an email on bengotch@docker.com and we can setup a call :)

[2021-07-20 03:47] ktdharan commented on #31
Having the same problem , when using Docker Desktop on Windows. Any suggestion's would be great.

[2021-07-20 08:58] dawidp commented on #10
I think I have the latest version 6.5.2 (also there is no way to check version) and the problem stil occurs.

[2021-07-20 18:20] phoenixeliot opened #34 "Error when launching sample dev environment: "No such image""
**Describe the bug**
When trying to launch the example "single container dev environment", I receive this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dev Environments [Preview] for the first time
2. Click on "Single container dev environment" under "Try running a sample"
3. Wait for about 30 seconds for the dev environment container to finish trying to launch itself
4

[2021-07-21 01:02] w0otness commented on #15
Same issue, Is there a way to provide CA certs to the Dev Environment docker images?

I encountered the same issue with VSCode's implementation of remote containers also, however there is an (hacky) option to modify the Dockerfile that VSCode uses to bootstrap and clone the repo into a Volume, which then will build whatever image you specify from the .devcontainer in the repo itself. The problem w

[2021-07-21 17:39] sosensible commented on #8
Not only did the remove fail, but it is stuck there and the feature appears to not work ATM.

[2021-07-22 10:07] glours commented on #34
Hello @phoenixeliot
Can you upload a dignostic (menu `troubleshoot` and the `Get support` button) and then copy the diag number as a comment to this issue?

After that, you can, as a workaround, download the image directly with the docker CLI
`docker pull docker/dev-environments-go:stable-1` and then retry the dev environment sample

For the issue with the Compose sample, are you using a proxy or

[2021-07-22 11:42] cbrunnkvist commented on #21
Is this a duplicate of #10 ?

[2021-07-22 11:47] cbrunnkvist commented on #10
I'm unable to clone from an internal/private/on-prem git repo - and what is confusing to me is why the error seems to be related to DNS resolution. (on the other hand - isn't it _always_ DNS?;)

"Logs" extract:
[code]

[2021-07-23 03:22] cbrunnkvist opened #35 "Can't create dev environment with non-GitHub server"
**Describe the bug**
I'm unable to clone from an internal/private/on-prem git repo - accessed through a corp VPN - and the error logged seems to hint at something related to the DNS resolver.

"Logs" extract:

[code]

(`gh clone` and `git clone` against that server works fine on my machine normally)

Write
**To Reproduce**
Steps to reproduce the behavior:
1. Paste the URL of a server which is not

[2021-07-23 03:48] andrew-stclair opened #36 "Custom dev-environment Dockerfile"
**Tell us about your request**
If the git repository has a file, For example `Dockerfile.dev`, use that to build the development environment instead of pulling a pre-made image from docker hub.

**Which service(s) is this request for?**
Docker Desktop Dev Environments

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
While using the pre-made imag

[2021-07-23 20:58] zeroZshadow commented on #29
I have a similar issue. I'm on windows using `GIT_SSH` to set my ssh-agent to `plink.exe`, but docker is ignoring this and not using the private key.

[2021-07-26 12:45] vasilvestre commented on #3
The issue can be closed

[2021-07-26 12:46] #3 closed

[2021-07-27 19:03] webark opened #37 "Facing unknown host prompt when connecting to VPN git server on port 7999"
When using a custom git server, with an internal custom host, I was unable to move past the "this is an unknown host" prompt. This is from the logs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dev Environnements'
2. Fill create field with internal git server
3. Click on 'Create button'
4. See error

**Expected behavior**
New unknown hosts to be added automatically, or open

[2021-07-27 19:10] glours commented on #37
Did you already or can you try to clone the repository from directly from your machine?
We use a proxy to pass credentials from the host so you should be able to clone the repository if you already connect from your host to this repository
Did you use a proxy or VPN to access to the git server?
Is your git server configured with a custom port?

[2021-07-27 22:27] webark commented on #37
What do you mean by this? I can clone it normally. I was not sure how to reference a local git repository

VPN

7999

[2021-07-28 19:01] phoenixeliot commented on #34
Welp, the both example images work now. So I may not be able to provide any more useful info, and the problem *might* be solved.

FWIW, I am not behind any kind of VPN or proxy. Using the same network as when I reported this issue (my home wifi).

[2021-07-28 19:16] glours commented on #34
Can you check if you're still using the `3.5.1` or if Docker Desktop was updated since the last time?

[2021-07-28 19:27] glours commented on #34
Ok good to know.
Can we close this issue?

[2021-07-30 21:14] RasimAghayev opened #38 "Environments Are Not Deleted"
I'm deleted old environment in the list.

**Desktop (please complete the following information):**
 - OS: [Win21H1 (OS Build 22000.100]
 - Version [Docker version 20.10.7, build f0df350]

**Screenshots**
![1](https://user-images.githubusercontent.com/2940564/127711762-1db3c4da-409b-4483-8fdb-ac62f4f68870.png)
![2](https://user-images.githubusercontent.com/2940564/127711771-6837d7f4-2fc3-4a4f-a375-

[2021-07-30 21:19] RasimAghayev commented on #38
Dublicate
https://github.com/docker/dev-environments/issues/8

[2021-07-30 21:19] #38 closed

[2021-08-02 12:15] kaefahtech opened #39 "Dev Environments Not Detecting Visual Studio Code Remote Containers Extension"
**Describe the bug**
Docker Desktop - Dev Environments can't be accessed from Docker Desktop console because it cannot detect Remote Containers installation in Visual Studio Code. Git and Visual Studio Code itself have been found by Docker Desktop. However, it can't seem to find the extension, and as a result is not moving past the tools checklist screen. I've restarted Windows, Docker Desktop, an

[2021-08-02 12:17] glours commented on #39
@kaefahtech can you screenshot the `about` window of Docker Desktop and add it this issue please?

[2021-08-03 08:58] SwordSven commented on #30
![image](https://user-images.githubusercontent.com/54848314/127987891-2b70a348-20b5-4678-a240-ec757d55f8b5.png)
I have the similar problem with this

[2021-08-03 16:23] archoda opened #40 "Docker Desktop Dev Environment & Git Stuck State with no way to interact with the process to approve..."
**Describe the bug**
Initialized a dev environment create request using gitHub SSH pathway. It's stuck in QA state with the following log:

**"RSA key fingerprint is SHA256:##############################

**To Reproduce**
Steps to reproduce the behavior:
1. Open Docker Desktop (For Mac)
2. Click on 'Dev Environments'
3. Click on textfield in the upper right hand corner and enter in private git ssh

[2021-08-03 17:39] webark commented on #40
I believe this is a similar issue/duplicate of #37

[2021-08-03 19:51] webark commented on #40
yep

[2021-08-03 19:54] glours commented on #40
Ok so I'll close this one to keep only the #37

[2021-08-03 19:54] #40 closed

[2021-08-04 18:58] alantbarlow opened #41 "Support for a devenvironment.yaml configuration file"
Currently, the Dev Environments feature automatically looks for the docker-compose file located at "_.docker/docker-compose.yaml_" in the root directory. The following are some of the downsides of doing this.

- It bypasses any additional configurations that can be made
- It prevents you from specifying a path to the container configuration file
- It requires you to create a new docker-compose.yam

[2021-08-04 19:05] alantbarlow commented on #41
This could possibly solve issue #22 and add support for using a .devcontainer configuration file.

[2021-08-04 19:25] alantbarlow opened #42 "Add support for executing commands after launching IDE"
When I start a dev environments container, the container properly starts my dev server command mentioned in the dockerfile/docker-compose file. But when I then open that container in VSCode, it stops the current server and starts a VSCode server. This causes you to have to manually start up the server again.

This issue could be solved by adding the ability to execute commands after starting the c

[2021-08-04 19:44] alantbarlow commented on #36
This is currently solved by using a docker-compose.yaml file located in the .docker directory at the root of the project. The project I am currently working on implements a custom dockerfile. if you want to see how it's set up, you can go to https://github.com/alantbarlow/project-slideshow. In my setup, the dockerfile is named "Dockerfile" (the default) and is located at the root of the project. Y

[2021-08-04 20:10] glours commented on #41
@alantbarlow we're currently working of this kind solution, I would be really happy if we can plan meeting with @nebuk89 and we'll demo the wip. WDYT?
You can drop an email to Ben directly, with a link to this current issue to give him some context: bengotch@docker.com

[2021-08-04 20:54] alantbarlow commented on #26
It's hard to tell what feature is being requested here but it sounds like you are requesting a feature to have Dev Environments monitor your connected Repo and rebuild images if necessary.

Currently, when pushing changes to your Dockerfile/docker-compose.yaml files, you would need to create a new environment to see the effects.

The requested feature would be to monitor those files and rebuild th

[2021-08-05 06:19] mazzarito commented on #20
+1 JB PHPS

[2021-08-05 09:07] mellester opened #43 "[WSL2] can't open vs-code with button to open the sample container"
**Describe the bug**
I can not open vs-code with button to open the container

**To Reproduce**
I am using Docker for windows with the WSL2 integration .
I start the single container sample and press the button after its started

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/609138/128322566

[2021-08-05 09:09] mellester commented on #43
Possible duplicate https://github.com/docker/dev-environments/issues/28

[2021-08-05 09:09] glours commented on #43
Duplicate of #30

[2021-08-05 09:09] #43 closed

[2021-08-05 21:21] phoenixeliot commented on #34
Yeah, go ahead.

[2021-08-05 21:56] #34 closed

[2021-08-06 21:12] sheldonhull opened #44 "Provide More Clarity on the Difference with dev-environments and VSCode Remote Containers"
I'm excited to see where this goes, as devcontainers is absolutely a killer feature, but I've not been able to fully spread adoption as half the team uses Goland and the others VSCode.
I think a docker compose file is a great solution to be the source of truth that works in a variety of situations.

I'd ask if possible that the docs or readme be updated to be specific about where this is different

[2021-08-06 21:14] sheldonhull commented on #41
If you need further feedback, count me in! Seems really promising, and I'm excited to see where this goes.

[2021-08-10 10:55] patrick-mota commented on #15
I have the same problem @w0otness could you provide the path (even if the last digits could change since a new folder is created everytime we update) ?

If the creation of the env. could take the existing git configuration or a way to specify one we could specify the certs or even set https verify to false would resolve this problem. (just like the creation of the dev environment takes the ssh key

[2021-08-10 11:17] chris-crone commented on #44
Hi @sheldonhull, thank you for the great feedback!

At the moment Docker Dev Environments only support VSCode (using remote containers) but we are looking to support other editors. We are also working on defining environments with Compose so that they are not editor specific. We know that developers are very attached to their tools! The line you describe between project and personal tooling is som

[2021-08-10 11:19] chris-crone commented on #42
Hi @alantbarlow, thanks for the feedback!

This is definitely a use case that we should solve for.

[2021-08-10 12:31] glours commented on #35
Hey @cbrunnkvist
Can you retry and then create and upload a diagnostic via the menu `Troubleshoot/Support`?
You can post the Diagnostic ID directly in this issue via a comment, it will be easier for us to check what happened exactly
Thanks

[2021-08-10 12:55] rumpl commented on #29
@zeroZshadow do you mean pageant?

Could you run this in a power shell `[System.IO.Directory]::GetFiles("\\.\\pipe\\")`  and tell us if you see a pipe named `openssh-ssh-agent` please?

[2021-08-10 12:59] zeroZshadow commented on #29
Yes I do mean pageant.

I'm not seeing a pipe with this name while pageant is running.

[2021-08-10 12:59] rumpl commented on #37
@webark could you please create and upload a diagnostic via the menu Troubleshoot/Support?

When cloning we are forwarding the `~/.ssh/known_hosts` file inside the container that clones the code but in your setup it might be that the known hosts file is somewhere else.

[2021-08-10 13:01] rumpl commented on #29
Thanks!

Do you see a `pageant` pipe in that command?

Do you happen to have the `SSH_AUTH_SOCK` environment variable set?

[2021-08-10 13:03] zeroZshadow commented on #29
I do see a pageant pipe, `\\.\\pipe\\pageant.zeroZshadow.99eb623bb0fd37e43d14e4c4197b1c759ae8ee0614493180154c80cc4a40b293`

I do not have `SSH_AUTH_SOCK` set.

[2021-08-10 13:04] rumpl commented on #29
Great, @zeroZshadow I'll create a ticket in our internal issue tracker and we'll try to find a way for the clone over ssh to work when you have pageant.

Thanks, all this information is super useful for us ;)

[2021-08-10 13:05] zeroZshadow commented on #29
Thank you very much for all the work!

[2021-08-10 14:57] webark commented on #37
@rumpl

The host I am trying to connect which it logs out is in the known hosts file. If I exec into the git container it creates, I am able to clone the repo.

I wasn't able to get anything to do this other than it just taking me to the "for-mac" github bug page? I could be doing something wrong/not on a paid teams account.

[2021-08-10 15:02] rumpl commented on #37
When you click on "Support" you normally get to this screen, wait a while and you will see a "Upload to get a Diagnostic Id"

<img width="1382" alt="Screenshot 2021-08-10 at 16 59 02" src="https://user-images.githubusercontent.com/99933/128890481-a6d7cabf-b069-4e9f-b733-ff4c03fc8fc8.png">

<img width="1382" alt="Screenshot 2021-08-10 at 17 00 16" src="https://user-images.githubusercontent.com/9993

[2021-08-10 16:39] webark commented on #37
Yea, that's what I tried, and it just hung on the "diagnosing" for 5 mins before I clicked away. I'll let it sit for longer and see if it can resolve.

[2021-08-10 17:57] webark commented on #37
@rumpl yea. Left it open for an hour and never got past the `Diagnosing ...` message. Perhaps it's due to the process being hung by waiting for the prompt?

Let me know if there is something I can do or provide to help diagnose. Thanks! :)

[2021-08-10 18:01] rumpl commented on #37
Hm. That’s odd, @djs55 any ideas how we can get the diagnostics?

@webark if all else fails it could help us if we could do a quick zoom call when you are available. Hit me an email at djordje.lukic@docker.com if you have the time. I’m on the Paris timezone

[2021-08-12 08:26] djs55 commented on #37
I would try the command-line to see if it gives any clue about where it's blocking:
[code]
Failing that, the most useful logs are in `~/Library/Containers/com.docker.docker/Data/log` -- a good fallback would be to create a .zip of those and send by email.

[2021-08-12 08:45] glours commented on #8
@jdhaines @B-0-B-B-Y @sosensible we just released a new version of Docker Desktop `3.6.0`, can you click on the `Check for Updates` menu, install the new version and check if you still have the issue, please?

[2021-08-12 08:51] glours commented on #10
@DewZ89 @dawidp @bounlu we just released a new version of Docker Desktop `3.6.0`, can you install it by clicking on the `Check for Updates` menu and check if the issue is resolved with this new version?
You can also check that your ssh configuration is working well by cloning the repository locally (via ssh of course 😅)

[2021-08-12 08:54] glours commented on #11
@Dids we just release the new version of Docker Desktop, can you check if everything works as expected now?
You can update the version by clicking on the `Check for Updates` menu in DD

[2021-08-12 08:55] glours commented on #12
@usha-mandya can we close this issue?

[2021-08-12 09:03] #12 closed

[2021-08-12 09:49] glours commented on #14
@qnm you can now run a Dev Environments from a local repo with `3.6.0` version of Docker Desktop, just click on the `Check for Updates` menu to install it.
You should be able to start a [local version of your repo](https://docs.docker.com/desktop/dev-environments/#start-a-dev-environment-from-a-local-folder) or you can also [checkout a specific branch/tag](https://docs.docker.com/desktop/dev-envir

[2021-08-12 09:52] glours commented on #17
Hello @SHenry07
We just released new version of Docker Desktop and this issue should be solved in this release.
Can you update by clicking on the `Check for Updates` menu and check that we can close this issue?

[2021-08-12 09:55] glours commented on #25
@pnunn we just released the `3.6.0` version of Docker Desktop and the problem should be fixed now.
Can you upgrade your version by clicking on the `Check for Updates` menu and check that we can close this issue please?

[2021-08-12 09:59] glours commented on #27
@jshederer we released a new version of Docker Desktop with some improvements on detecting prerequisites, can you upgrade your Docker Desktop by clicking on the `Check for Updates` menu and check that your problem is gone?

[2021-08-12 10:01] glours commented on #28
@lutaiphong the new `3.6.0` version of Docker Desktop with the fix was released yesterday!
Can you upgrade by clicking on `Check for Updates` and check that everything is working well now?

[2021-08-12 10:03] glours commented on #30
@slecache @SwordSven we just released a new version of Docker Desktop that should fix this issue, can you upgrade Docker Desktop (Menu `Check for Updates`) and check that we can close this issue?

[2021-08-12 10:06] glours commented on #31
@Robin-Ln @ktdharan can you reproduce the issue and then go the `Troubleshoot>Support` menu to generate a diagnostic?
You can post the diagnostic ID directly in a comment of this issue
Thanks

[2021-08-12 10:11] glours commented on #37
@webark we just released `3.6.0` version of Docker Desktop which fix an issue when using a custom port, I didn't guarantee that will fix your problem, but a least you can send us your logs with this new version.
To upgrade just click on the `Check for Updates` menu

[2021-08-12 11:25] jdhaines commented on #8
@glours

The initial issue seems partially resolved.  I can't find a way to recreate the initial issue of the hanging environment being stuck and unable to be removed.  That said, I still can't remove the original one I have.  Perhaps it's stuck in limbo somewhere and will just be there for the next thousand years. 😄

[2021-08-12 12:54] glours commented on #8
@jdhaines Ok, so let's remove it manually then.
Open the `~/.docker/devenvironments/data.json`, find the record referencing your Dev Environment which is stuck, remove it, save the file and then navigate to the volumes panel for example and go back to the Dev Environments screen, your dev env should be gone.

[2021-08-12 13:05] jdhaines commented on #8
@glours

Yep, that fixed the ui part of the issue.  I think this one can be closed from my perspective.  Thanks for all the help everyone!

[2021-08-12 16:45] webark commented on #37
@glours this fixed it!! Thanks so much. Going to be closing this now.

[2021-08-12 16:45] #37 closed

[2021-08-12 19:08] sosensible commented on #8
Works right ATM. :)

[2021-08-12 21:01] kevinsullivan opened #46 "Network error on starting dev environment based on my own image"
**Describe the bug**
I create a development environment based on kevinsullivan/leanvm. When I start it, I get four bright red internal-looking error messages. Docker Deskop indicates it's pulling my image, but it never finishes and seems to have failed.

**To Reproduce**
Steps to reproduce the behavior:
I'm running Windows 11 insider, Ubuntu 20.04 LTS in WSL2, and VSCode. Just try to create and st

[2021-08-12 21:08] glours commented on #46
@kevinsullivan it seems that Docker Desktop UI lost the connection with the Dev Environments backend, can you restart Docker Desktop and retry?
If you still have the same issue, can you please use the `Troubleshoot>Get Support` menu to generate a diagnostic and post the diagnostic ID as a comment of this issue please?

[2021-08-12 21:50] DewZ89 commented on #10
![Image 12-08-2021 at 21 48](https://user-images.githubusercontent.com/80514220/129274655-ec2317f3-5992-49f4-ba24-7540d75e8294.jpg)

@glours I still get the same error message

[2021-08-12 23:44] kevinsullivan commented on #46
Reference diagnostic ID = F8F2B3D0-9E02-4531-8853-195806A3C343/20210812234051

[2021-08-13 00:30] kevinsullivan commented on #46
I just signed out using Docker Desktop (DD). Now I'm quitting the program (X out). Now I'm restarting DD. It comes up quickly showing no containers running I go to dev environments and create new environment. I select "Existing Dev Environment" and enter docker.io/kevinsullivan/leanvm. I hit create, and boom: four transient banner red error messages explode in my windshield ;-). I wrote this as it

[2021-08-13 02:13] fabioqcorreia commented on #5
@glours actually not in this scope anymore,
I'm using Windows 11 Beta channel for Insiders.
Still Docker doesn't find any of my installed tools either and shows me a new info:
![image](https://user-images.githubusercontent.com/16759330/129295245-815d8b46-cb1e-4aab-8de7-380a443ede21.png)

Will try following the guideline.

[2021-08-13 09:46] lutaiphong commented on #28
It's worked. Thanks @glours .

[2021-08-13 09:46] #28 closed

[2021-08-13 15:22] imyourmark opened #47 "Can't open file --list-extensions"
When I click the Dev Environments
The IntelliJ IDEA will tell me like it

<img width="335" alt="image" src="https://user-images.githubusercontent.com/35483711/129381293-77d5dffa-791f-4bd0-8f3b-1682c27fe776.png">

**Desktop (please complete the following information):**
 - OS: macOs BigSur
 - Version: 11.5.1

**Version of Docker Desktop:**
Docker Desktop 3.6.0 (67351) is currently the newest versio

[2021-08-13 15:26] glours commented on #47
FYI @rumpl, that's weird 🤔

[2021-08-13 17:14] kevinsullivan commented on #46
Some more information. I suspect that the error being reported might be an unhandled exception due to my failing attempt in the Docker file to copy a .profile file from my local host to the image (the docker "COPY ./profile.txt ./.profile" command in the docker file).

[2021-08-14 09:21] LorenzoTinfena commented on #5
For me it works a few days later the comment, without any changes, don't know why

[2021-08-16 03:17] nvthuong1996 commented on #26
thank you. i understand

[2021-08-17 03:06] bounlu commented on #10
<img width="934" alt="image" src="https://user-images.githubusercontent.com/17899927/129657465-807b282d-5c36-4fbf-a460-bdc2fb58bfcd.png">

@glours same for me

[2021-08-17 05:54] #36 closed

[2021-08-17 15:40] dbnex14 opened #48 "Where do I find tutorial to create development environment for Java EE"
**Tell us about your request**
It would be nice to have a tutorial explain how to setup up JavaEE/JakartaEE dev environment on Windows host machines including setting:

1. jdk
2. maven
3. WAS/Open Liberty server container
4. ecllipse for JavaEE
5. SVN plugin for eclipse
6. Eclipse proxy setting
7. Possibly add more tools such as VSCode, DBeaver, Postman, IntelliJ Ultimate, Notepad++ etc

**Which s

[2021-08-17 21:06] glours commented on #10
@bounlu you're mentioning `ssh` but you are using an `https` git url, can you try with the ssh url of the git repo instead?

[2021-08-17 22:41] Robin-Ln commented on #31
Hello @glours,  diagnostics ID :  `262FDC42-A73D-4FBA-96CD-1BD0FCD8D118/20210817223729`

[2021-08-18 02:29] #26 closed

[2021-08-18 06:56] bounlu commented on #10
@glours ohh right, my bad. It works with `ssh`. thanks. 👍

[2021-08-18 14:05] stephen-turner commented on #47
Same as docker/for-mac#5840

[2021-08-18 16:57] webark opened #49 "compose file in .docker dir needs to explicitly be .yaml and a .yml is not recognized"
**Describe the bug**
yaml and yml tend to be interchangeable in most YAML implementations (like docker compose proper). However, the `docker-compose.yaml` in the `.docker` directory explicitly needs to have the `a` in it and `yml` is not recognized.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a docker compose setup
2. Add a `docker-compose.yml` file to the `.docker` dir
3. The e

[2021-08-20 07:29] carsoni commented on #27
Just upgraded to 3.6 but still seeing this problem.

VSCode is installed.
The appropriate extension is installed.
I can successfully attach to the running dev environment container from my VSCode instance.

But Docker Desktop is still saying that I need to install VSCode and the Extension when I try to "Open in VSCode" from DD

[2021-08-21 02:37] carsoni commented on #27
Adding to my previous comment.

I have now got the "Open in VSCode" feature working.

I performed the following

- Deregistered the docker entries from the wsl subsystem

    To see what's there. I got docker-desktop and docker-desktop-data (I killed both of them)
        `wsl -l -v `
        `wsl --unregister docker-desktop`
        `wsl --unregister docker-desktop-data`

- Quit docker desktop fr

[2021-08-21 05:07] HEDERER opened #50 "Removing development environment never stops"
I've destroyed some unused volumes. In these, there was "compose-dev-env-quizzical_raman_db-data" one (it was not marked as "In use").
I tried to remove "compose-dev-env-quizzical_raman" but it is always in state "Removing" days after. Last message is "Removing volume compose-dev-env-quizzical_raman_db-data"

[2021-08-23 10:19] far-blue opened #51 "Provide the ability to mount the source code volume into the docker-compose service containers at custom mount points"
**Tell us about your request**
When a git repo is cloned it is into a volume and then the .docker/docker-compose.yaml file in that volume is read and executed - but the original volume containing the source code isn't available to the docker-compose service containers. It would be great to have the ability to say, in the docker-compose.yaml file, something like "In service A mount the source code

[2021-08-23 11:08] far-blue opened #52 "Opening a service container in vscode stops the container's original running service"
**Describe the bug**
When creating a dev environment from a repo that has a .docker/docker-compose.yaml definition and then selecting one of the running services to access and work on within VSCode, the service is restarted with the command /sbin/docker-init -- sleep infinity`. Doing this replaces the original running functionality of the container. When wanting to edit source code and then access

[2021-08-24 12:01] ppluijten opened #53 "Creating a new dev environment from the dockersamples/single-dev-env repository does not recognise Go as main language"
**Description**
When following the instructions at https://docs.docker.com/desktop/dev-environments/#start-a-single-container-dev-environment, **creating a new Environment** does not recognise **Go** as the main language of the repository and so uses *docker/dev-environments-default* as base image instead of *docker/dev-environments-go*. This means the commands `make` and `go` are not available to

[2021-08-26 11:21] ppluijten opened #54 "Creating a dev environment adds an option to the .docker/docker-compose.yaml file that it cannot support"
**Describe the bug**
When creating a new dev environment from an existing folder that contains a simple *.docker/docker-compose.yaml* file, a file called *devenvs-docker-compose.yaml* is also created in the *.docker* sub-directory, but that file adds some extra options to it, one of which Docker Desktop then says it cannot support.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fol

[2021-08-28 06:50] balazsgrill opened #55 "Got 'Error' when trying to specify base image"
**Describe the bug**
I tried to specfiy development base image in my repository as described here: https://docs.docker.com/desktop/dev-environments/#specify-a-base-image. When I try to create a dev environment on this (https://github.com/balazsgrill/wscgo@feature/docker-env), I get a single 'Error' message without details.

There might be a problem with my configuration, however IMHO this message

[2021-08-30 09:28] ppluijten commented on #54
Hey @rumpl,

This makes sense, I do prefer a way not to have to change a file that seems like something you wouldn't even check into git.

It did feel like a clash of libraries, the situation you describe sounds like something that would happen with config generation. Applying the setting as described fixed the issue so this is fine for my current setup and requirements. If I somehow need to avoid

[2021-08-30 09:28] #54 closed

[2021-09-01 19:29] gxsoft opened #56 "This version v20.10.8 with WSL2, in Windows 10 v21h1 is so slowly for Start..."
**Describe the bug**
This version v20.10.8 with WSL2, in Windows 10 v21h1 is so slow for Start...
more than 7(seven) minutes to start.
With the previous version it started before 1minute
**Expected behavior**
I'm expectet that the Docker engine start much before.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2021-09-01 19:40] glours commented on #56
Hello @gxsoft
First question what is your Docker Desktop version? The one on the top with a builder number such as `3.6.0 (66540)` in my example
<img width="734" alt="Screen Shot 2021-09-01 at 9 33 46 PM" src="https://user-images.githubusercontent.com/705411/131732917-4e07d1ec-d1c3-44e5-ba5d-dbfad746768c.png">

Just to be sure, is it Docker Desktop which is slow to start or your dev environments?

[2021-09-03 06:43] SHenry07 commented on #17
late reply. Now docker-desktop work well for me.

[2021-09-03 06:43] #17 closed

[2021-09-05 21:41] codeninja opened #57 "[ERROR] when launching a new environment to a github branch."
**Describe the bug**
When launching a new environment connected to a github repository's branch the volume fails to create because an errant [ has made it's way into the compilation of the name of the environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dev Environments
2. Click on create new environment
3. Enter a github repo using the SSH syntax as noted above in the prompt.

[2021-09-05 22:05] #57 closed

[2021-09-05 22:06] codeninja commented on #57
I'm dumb. the "[" in  the example above the field indicates optional values, not to be taken literally.

[2021-09-05 22:37] slecache commented on #5
Thank you for your patience.

Since I updated Docker Desktop, as soon as I'm in the "Dev Environments" tab, VSCode regularly opens a cli.js file.

PS: I do not have this behavior on another PC.

[2021-09-06 07:23] glours commented on #57
Hello @codeninja
Can you try without the bracket,please?
There is 2 way to use branches
* with the full branch url like this `https://github.com/glours/single-dev-env/tree/poc-dev-envs-compose`
*  by using the`@` separator but without the brackets like that `git@github.com:glours/single-dev-env.git@poc-dev-envs-compose`

[2021-09-06 12:29] glours commented on #55
Hello @balazsgrill

It's seems we have issue with branches following the `feature/` pattern, thanks for reporting the issue.
It should be fix easily

[2021-09-06 18:02] codeninja commented on #57
Yes, Thank you. It does work.

I realized after a moment that the brackets are simply denoting an optional branch name and not structure.

[2021-09-10 16:13] higginsrob commented on #51
This is blocking me from using dev environments.  I built a custom dev environment system that I've been using professionally for half a year.  In my system all dev-containers are ephemeral and connect to a single docker volume.  The base images have docker-in-docker and dockerized apps (bins that look like apps to the terminal but they just exec docker functions), with scripts that force the dock

[2021-09-10 16:27] higginsrob commented on #51
... also if anyone is listening, pretty please add the "Open in VS Code" option to every container, not just dev-containers.  In my system above I need to open VSCode and then "attach to running container", a slight annoyance as the page opens a new window and I usually want to close the first one.

[2021-09-11 18:18] nickretallack opened #58 ""Sign in" button can break during new user experience"
**Describe the bug**
I did the tutorial.  When it got to step 4 where you publish an image, I clicked on Sign In and it opened a page in chrome.  I used this page to reset my password and then closed it.  Now when I click on "Sign In" nothing happens.  Clicking the link in the tutorial that asks me to sign in does the same.  I'm sure if I quit and restart the app it'll work.  This is just during t

[2021-09-13 07:25] gtardif commented on #58
Thx for the feedback. I suppose this is about Docker Desktop tutorial, and not specific to Dev Environments, I'll move the issue.

[2021-09-13 17:02] glours commented on #53
@ppluijten can you retry, we added `make` to our base image few weeks ago so you should not have the issue anymore

[2021-09-13 17:06] glours commented on #55
Hi @balazsgrill
We just release Docker Desktop `4.0.1`, can you update to this version and check that this issue is fixed now?

[2021-09-15 07:48] mhelin commented on #10
Using https protocol get this error:

Preparing to clone inside a volume
Installing credential helpers... done
Cloning into '/code'...
fatal: unable to access 'https://rhodecode.mycompany.com/myproduct/myservice/': SSL certificate problem: unable to get local issuer certificate
exit code 128

I have added the ssh keys and agent running but this problem seems to be related with certificates. I have

[2021-09-15 11:03] chris-sadighgroup opened #59 "Docker socket permission set to allow in container docker"
Hello, when i try to create a development environment i get this message in the log :

Docker socket permission set to allow in container docker

I tried with the "Try running a simple" method and with a personal project, same issue.

If you have any idea !

Thanks

[2021-09-15 12:27] gtardif commented on #59
Hi, Thanks for the feedback.
`Docker socket permission set to allow in container docker` is not an error message, it's telling we set permissions to allow running docker commands from inside the Dev Environment.
Do you see some warnings before this message? Could you post the entire logs (or a bit more than the last line, just not personal info that might appear in the logs), or describe a bit mor

[2021-09-15 13:05] chris-sadighgroup commented on #59
Hello, thanks for your reply .
--

Preparing to clone inside a volume
Installing credential helpers... done
Cloning into '/code'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 9 (delta 1), reused 5 (delta 0), pack-reused 0
Receiving objects: 100% (9/9), 5.54 KiB | 2.77 MiB/s, done.Receiving objects:

[2021-09-16 03:54] balazsgrill commented on #55
Hi @glours , I've just tried it and it works great!
Thanks!

[2021-09-16 03:54] #55 closed

[2021-09-16 14:16] gtardif commented on #59
Hi,
The Dev Environment starts, but this does not start your application directly, it allows you to start coding in your IDE, and run the application from the IDE Terminal (or debugger).
You should see a button to open the IDE, from the started Dev Environment. If you don't have VSCode and VSCode remote extension installed, it will prompt you to install it, as this is needed to run the IDE inside

[2021-09-20 21:58] smoms opened #60 "bash: make: command not found"
followed the example:

https://docs.docker.com/desktop/dev-environments/#start-a-single-container-dev-environment

but I get **bash: make: command not found** error.

[2021-09-20 21:59] smoms commented on #53
same problem. I have just tried.

[2021-09-21 11:40] ppluijten commented on #53
@glours, unfortunately the error message remains the same. I checked and the base image `docker/dev-environments-default:stable-1` is up-to-date. Can you reference the image in which `make` should now be available?

[2021-09-21 12:05] glours commented on #53
@ppluijten the issue seems to be on the langage detection, the `dockersamples/single-dev-env` should be detected as a Golang project and should use the `docker/dev-environments-go:stable-1` image as base image
We already opened a ticket in our internal board to fix that

[2021-09-21 17:27] glours commented on #60
Hello @smoms
I just change the base image use by the `single-dev-environment` sample, can you try to recreate a new dev env from the sample and check everything is ok now, please?

[2021-09-21 17:28] glours commented on #53
@ppluijten I just add a workaround directly in the repository of the `single-dev-env` sample, can you try if it fixes your issue please?

[2021-09-21 18:03] alonsoir commented on #20
Could we use this feature in intellj? I am not a real fan of vs code IDE.

[2021-09-21 18:43] smoms commented on #60
@glours now the image looks ok. Once the sample app starts though, once I open the browser on http://localhost:8080/ it hangs for ever...

[2021-09-21 19:39] glours commented on #60
Yes, it seems there is some issues on the VsCode side with port forwarding since the `1.60.0` version
https://github.com/microsoft/vscode-remote-release/issues/5551

Can you check that you can curl the server directly from a terminal in VsCode with `curl http://localhost:8080`?

[2021-09-22 01:55] WurmD opened #61 "Add support for PyCharm, besides vscode"
**Tell us about your request**
Allow one-click opening dev container in PyCharm instead of VSCode

**Are you currently working around the issue?**
Yes. Exposing a port, and configuring ssh to allow passwordless login with new user debug:
`docker run --name ac_container  -p 2222:2222 -i action_recognition sh`
[code]

[2021-09-22 23:29] JWhiteUX opened #62 "Dev Environments — Unable to use without updating Docker"
**Describe the bug**
tldr; Docker Desktop throws notifications without offering resolution. After running out of places to look in the desktop app, writing this ticket… I observed the monochromatic Docker Menu Icon displaying an exclamation mark. In the midst of all my app icons. Please consider the following a detailed explanation of how a product designer (👋 Me) using Docker might resolve this i

[2021-09-23 08:52] ppluijten commented on #53
@glours, this seems to fix it for now:
![image](https://user-images.githubusercontent.com/975661/134479328-4f6e7476-caa6-4250-928e-92616a91521a.png)
The `make` command is indeed available after this, thank you for this!

[2021-09-23 08:52] #53 closed

[2021-09-25 00:56] hegerdes opened #63 "Environment Variables are not evaluated"
When creating a `docker-compose.yaml` file in `.docker` this file is not allowed to use environment variables to set container environment variables or their ports when a `.env` file is present

For example:
[code]

[code]

Does **NOT** work. The resulting `devenvs-docker-compose.yaml` looks like:

[code]
This is invalid due to empy ports values

**Expected behavior**
Either evaluate the environme

[2021-09-25 20:39] shaunc opened #64 "Kubernetes deployment"
**Tell us about your request**

I would like to use dev environments inside of kubernetes.

**Which service(s) is this request for?**
(Dev environments)

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I use vscode to develop kubernetes applications. I would like to share dev environments to work on
an application. Rather than using docker-compo

[2021-09-26 11:07] ponchicken opened #65 "Use WSL git"
**Tell us about your request**
Can Dev Environments detect and use git inside WSL2 on Windows? Seems more convenient not to install second one system-wide just for this, if we have it already.

![image](https://user-images.githubusercontent.com/12897276/134804707-f14fee9e-c474-451e-abaf-2337f068ddfa.png)

[2021-09-26 23:54] deidyomega opened #66 "Use user/company name in the dev environements"
**Tell us about your request**
Change the naming convetion from:
`{{github project name}}-{{random word}}_{{random word}}`
to:
`{{username}}-{{github project name}}-{{random word}}_{{random word}}`
Or even better, let me pick the name so I can use my own convention.

So if I wanted to check out https://github.com/docker/compose it would be:
`docker-compose-random_word` instead of `compose-random_w

[2021-09-27 01:09] deidyomega opened #67 "Use name from Dev Environements as the Folder Name in VS Code"
**Tell us about your request**
When you have multiple dev environements, within VS code, your `Recent` becomes cluttered with identical looking names.

If you changed the folder name to match the dev environement name, they'd be findable

**Which service(s) is this request for?**
Dev Environements

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**

[2021-09-28 05:21] BennB opened #68 "Unable to clone repository from path that includes spaces"
I would like to create an environment using a repository from Azure Repos. When I provide a Repository URL and click the create button for the 'Create a Dev Environment' dialog I get an error stating the volume name is invalid.

**Steps to Reproduce:**
1. Copy the Azure repository clone link. i.e. https://corpname.visualstudio.com/DefaultCollection/IT%20Projects/_git/IT%20Projects
2. From Docker D

[2021-10-04 09:08] felipecruz91 commented on #61
Hey @WurmD,

Thank you very much for your feedback. We're considering including more IDEs as part of dev environments. We'll ping you when we have news.

[2021-10-04 09:12] felipecruz91 commented on #65
Hey @ponchicken,

Thank you for your feedback! It makes sense, we'll add it to our internal backlog and will let you know once we have an update.

[2021-10-04 09:17] felipecruz91 commented on #62
Hey @JWhiteUX,

Thank you very much for your feedback. We really appreciate the time and effort you took with the designs. We'll take a look at your proposition!

[2021-10-04 09:27] felipecruz91 commented on #68
Hey @BennB,

Thank you for taking the time to report the issue. I've been able to replicate it and we'll add it to our internal backlog. We'll let you know when we have an update.

[2021-10-06 08:26] glours commented on #63
Hello @hegerdes

Thanks for you feedback!
We're currently working to use Compose as the default file format to define/configure Dev Environments, so we should fix your issue with `.env` file.
The `devenvs-docker-compose.yaml` is a temporary Compose file generated specifically for runtime, it doesn't have any other purpose than that and  will be deleted with your Dev Environment.

[2021-10-06 08:32] glours commented on #66
@deidyomega

Thank you for your feedback, we currently working with our UX designer to find the best way to allow you to specify your Dev Environments containers name prefix.
We're also working to use Compose as the default file format to customise your Dev Environment, so you should be able to define the prefix directly in those config file.

[2021-10-06 08:34] glours commented on #67
@deidyomega
Thanks for your feedback.
As I already wrote in #66 we'll use Compose file format to allow you to configure Dev Environment and you'll be able to define the directory name used to mount the source code in your container

[2021-10-18 11:34] rvhelden opened #69 "Unable to start or remove a environment with a space"
- [x] I have tried with the latest version of Docker Desktop
  - [x] I have tried disabling enabled experimental features

### Actual behavior
When cloning a repository with the dev enviroment feature with a space in the name, then the workspace becomes unusable.
Unable to start the enviroment and unable to remove the enviroment, but it is created and completely stuck, unable to run it or remove i

[2021-10-20 09:42] Maxime-p opened #70 "Jetbrain IDEs support"
**Tell us about your request**
Rigth now, Docker implement an addon for VScode but not for JeetBrain IDEs

**Which service(s) is this request for?**
Docker desktop : Dev Environments

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
Not all user use VSCode

[2021-10-20 09:43] Maxime-p commented on #70
I know it's look like a duplicate of #20 but this issue is only for jetbrain

[2021-10-21 01:59] maiqingqiang opened #71 "How do I get started with Dev Environments？"
**Tell us about your request**
How do I get started with Dev Environments？Where is the docs?

[2021-10-21 11:18] felipecruz91 commented on #7
@slecache After revisiting this issue today, there are still [some extensions](https://github.com/VSCodium/vscodium/wiki/Extensions-Compatibility#incompatibility-due-to-licensing) that are not compatible with VSCodium due to licensing.

[2021-10-27 22:36] Unieveth opened #72 "SSH Clone fails even with ssh-add reporting key."
**Describe the bug**
When attempting to clone with an SSH URL docker returns "Exit Code 128".

**To Reproduce**
Steps to reproduce the behavior:
1. Select Create New Environment
2. Enter `git@github.com:dockersamples/compose-dev-env.git`
3. See error

**Expected behavior**
Successful clone and environment launch.

**Screenshots**
![image](https://user-images.githubusercontent.com/12651276/13915662

[2021-11-03 10:58] spectrapulse commented on #72
After an OS re-install (w11) I've ran into the same issue with Docker Desktop 4.1.1 following the same steps.

Here is my diagnostics ID:
`B07ED99F-21C4-45B8-8602-82FAC00600D9/20211103105550`

[2021-11-08 14:53] #11 closed

[2021-11-08 14:58] glours commented on #11
@Dids that's ok, no worries 😉

[2021-11-09 17:05] felipecruz91 commented on #65
@ponchicken [Docker Desktop 4.2.0](https://docs.docker.com/desktop/windows/release-notes/#docker-desktop-420) has just been released and this issue should be fixed.

Could you check again?

[2021-11-12 21:32] MSzmaj opened #73 "/var/folders/ no such file or directory"
**Describe the bug**
When creating a new dev-environment from a private github repo I get the following error:
`could not find /var/folders/bh/pyyk003x5b39k4fqhk2vq5br0000gn/T/volume-appname-vibrant_shamir/appname/var/folders/bh/pyyk003x5b39k4fqhk2vq5br0000gn/T/volume-appname-vibrant_shamir/appname: stat /var/folders/bh/pyyk003x5b39k4fqhk2vq5br0000gn/T/volume-appname-vibrant_shamir/appname/var/fol

[2021-11-15 11:55] felipecruz91 commented on #65
@ponchicken This should have been fixed in Docker Desktop 4.2.0 - could you update your Docker Desktop and try again?

[2021-11-15 13:48] glours commented on #73
Hi @MSzmaj
Thanks for your feedback.
Does your Git repo contain a compose file a the root directory or in the `.docker` folder? If so it seems there is a different behaviour between Compose V1 and Compose V2, at least, when building images with absolute paths. Internally we're using the `compose-go` library to generate the dedicated compose file to run the Dev Environments and this library generat

[2021-11-15 13:55] glours commented on #68
Hello @BennB,

We released a new version of Docker Desktop `4.2.0` last week which should fix this issue.
Can you update to this release and check everything is working as expected?

[2021-11-15 14:17] glours commented on #51
Hello @far-blue and @higginsrob

Thanks for your feedbacks, I'll open some tickets in our internal tracker to let our PM know about your usages.
Also @higginsrob for your "Open In VS Code" option, I think the best option will be to open an issue in the [public Roadmap repository](https://github.com/docker/roadmap/issues/)

[2021-11-15 14:28] glours commented on #50
Hello @HEDERER

Did manage to fix your issue?
Just to let you know, the volumes created with a dev environment are removed when you delete it, so no need to clean them by yourself. In your case the `compose-dev-env-quizzical_raman_db-data` as been created by Docker compose when starting your dev environment stack, because you removed it by yourself, Compose wasn't able to delete it and the `compos

[2021-11-15 14:30] glours commented on #49
Hello @webark,

Just to let you know that we added this issue in our internal issues tracker

[2021-11-15 14:35] glours commented on #47
Hello @immarktube

Last week we released the version `4.2.0` of Docker Desktop, in this one we fixed a bug in Docker Dev Environment which should be the source of this issue.

Can you try it and let me know if you still have this weird behaviour?

[2021-11-15 14:44] glours commented on #30
@slecache @SwordSven
Did you had time to check if the issue is fixed or not?
By the way we just released a new version `4.2.0` of Docker Desktop with some improvements in Dev Environments

[2021-11-15 14:46] glours commented on #27
Hello @carsoni ,

Can we close this issue?

[2021-11-15 14:50] glours commented on #25
@pnunn
Did you have time to check if this issue is fixed or not?
BTW, we just released Docker Desktop `4.2.0` with a lot of improvements since the `3.6.0` version

Let me know if we can close this issue.

[2021-11-15 15:13] glours commented on #14
Hello @qnm
Did you had time to check if this issue is resolve or not?

Can we close the ticket?

[2021-11-15 15:34] glours commented on #5
Hello here

We released the version `4.2.0` of Docker Desktop last week and we added the capability to use directly Git Bash without any special configuration.

Can someone let me know if this fix this issue and if we can close it?

[2021-11-15 18:56] MSzmaj commented on #73
Hi @glours
Thank you very much. You are absolutely correct. That is the solution. I'll marked this as closed.

[2021-11-15 18:56] #73 closed

[2021-11-16 10:08] glours commented on #73
FYI [a fix has been merged](https://github.com/docker/compose/pull/8929) in Compose this morning, so Compose stacks should work with Compose V2 in the next Docker Desktop release

[2021-11-16 13:25] strokovnjaka opened #74 "Creating compose based dev environment fails with exit status 17"
**Describe the bug**
Creation of a compose based sample dev env fails with `exit status 17`

**To Reproduce**
Steps to reproduce the behavior:
1. Open Docker desktop
2. Click on 'Dev Environments' on the left band
3. Click 'Create' (or 'Create New Environment' in case no envs are there yet)
4. Click 'Get started'
5. Select 'NEW DEV ENVIRONMENT' tab
6. Select 'Existing git repo'
6. Put `https://git

[2021-11-16 13:36] glours commented on #74
Hello @strokovnjaka

There is a bug in the version of Compose V2 shipped with the last version of Docker Destkop. [A fix has been merged](https://github.com/docker/compose/pull/8929) this morning and should be available in the next version of Docker Desktop.

A workaround is described in the issue #73 (remove the usage of compose v2 in Docker Desktop settings)

We can let this issue open until the

[2021-11-16 19:43] carsoni commented on #27
Please take note of the second paragraph in my previous comment.

I solved the issue and wrote in a comment the exact steps which solved it.

Hopefully they will be useful to others.

Please do close the issue but let’s leave the thread in place.

[2021-11-16 22:25] slecache commented on #5
It still works but I still have the strange behavior with VSCode (see my previous comment).

[2021-11-16 22:35] slecache commented on #30
I am no longer unable to start an existing Dev Env or even delete it. "Start" does nothing. And "Delete" displays a timeout error on "tcp 192.168.99.100:2376"

[2021-11-16 23:03] #27 closed

[2021-11-16 23:05] glours commented on #30
Do you have the same behavior with a fresh new Dev Env?

[2021-11-17 07:37] strokovnjaka commented on #74
Hi @glours, thanks, not sure how I missed the #73.

[2021-11-18 04:21] BennB commented on #68
Hi Guillaume,

Thank you for you message. I just tried cloning a dev ops repository,
unfortunately still get the same invalid characters error.
I wanted to add that our repository name has a space in it, which is
encoded as %20 in the url.

e.g.
<repository url>/_git/My%20Repository

See below images for details.

Kind regards
Benn

[image: image.png]

[image: image.png]

[image: image.png]

On Mo

[2021-11-20 09:48] whybangbang opened #75 "single-dev-env always "sleep infinity""
![image](https://user-images.githubusercontent.com/8721386/142721847-77133939-8473-4ec7-8ecb-c780cd9f6d01.png)

the reason is not set entrypoint?
![image](https://user-images.githubusercontent.com/8721386/142721896-b97c9728-64d0-4077-94c7-3e1058301aee.png)

[2021-11-20 09:58] glours commented on #75
Hello @whybangbang

A Dev Environment container is expected to be connected to an IDE. To let you work as long as you want in your IDEwe should keep the container up and running, that's why we defined `sleep infinity` as the entrypoint of Dev Environment containers.
Does it make sens for you?

[2021-11-20 10:03] whybangbang commented on #75
thx, i get it now

[2021-11-20 10:04] #75 closed

[2021-11-26 14:52] slecache commented on #30
It has existed for many weeks. I will try to reset all my Docker Desktop installation.

[2021-11-26 14:54] slecache commented on #7
Thanks for your feedback.

[2021-11-28 08:21] ponchicken commented on #65
It works now, thank you! 🙇
At least https links to public git repos and local directory.

SSH links output this warning
![Screenshot 2021-11-28 111011](https://user-images.githubusercontent.com/12897276/143734838-4fdad95c-70f6-48d1-b7e2-0980b1ad9e89.png)

Https to private repos gets stuck, probably the same problem with git credentials
![Screenshot 2021-11-28 110837](https://user-images.githubuser

[2021-11-29 08:52] felipecruz91 commented on #65
@ponchicken Thanks for taking the time to check it.

When cloning a private repo by SSH from WSL2, users must have an SSH agent running in WSL2. For that, they need to append the following content to their ~/.profile file:

[code]

After that, re-open a WSL2 terminal and type `ssh-add <path to your private ssh key>` to add your private SSH key to the SSH agent.

[2021-11-30 06:13] msoni1369 opened #76 "Dev Environments Not detecting the tools"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-30 08:01] felipecruz91 commented on #76
Hey @msoni1369, can you provide the version of Docker Desktop you are running? (You can find the version by clicking on the `About Docker Desktop` menu).

[2021-11-30 09:04] msoni1369 commented on #76
Hello Felipe,

I have also attached the picture stating the version of docker in the
issue. Please find it below.

[image: image.png]

On Tue, Nov 30, 2021 at 1:31 PM Felipe Cruz Martinez <
***@***.***> wrote:

[2021-11-30 09:10] felipecruz91 commented on #76
@msoni1369 That's the version of the Docker Engine, we'd need to know the version of Docker Desktop, e.g. `4.3.0 (71414)`

[2021-11-30 09:17] msoni1369 commented on #76
Hello Felipe,

Got it !!

The docker desktop version is 4.2.0(70708)

On Tue, Nov 30, 2021 at 2:40 PM Felipe Cruz Martinez <
***@***.***> wrote:

[2021-12-02 08:41] felipecruz91 opened #77 "Can't share Dev Environment with capital letters"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Dev Environment from a Git repository that contains capital letters, e.g. `git@github.com:felipecruz91/RepoWithCapitalLetters.git`
2. In the Dev Environments screen, click on "Share" and type whatever `owner/image:tag`, e.g. `felipecruz/foo:test`
3. See error

**E

[2021-12-02 16:37] felipecruz91 commented on #69
@rvhelden This is fixed in Docker Desktop `4.3.0`. Could you try again?

[2021-12-03 09:58] rvhelden commented on #69
@felipecruz91 No the issue is still present

![image](https://user-images.githubusercontent.com/4113326/144583268-45057c55-16f5-4191-a60d-d76a24d77b28.png)
![image](https://user-images.githubusercontent.com/4113326/144583330-df881e4d-aac5-402d-beab-d34e89d773cb.png)
![image](https://user-images.githubusercontent.com/4113326/144583349-baf1d580-6f74-4052-9aa5-58b42ac7ae5f.png)

[2021-12-03 14:00] felipecruz91 commented on #69
@rvhelden Could you clean up any past Dev Environments? You'll have to delete them from `C:\Users\<your user>\.docker\devenvironments\data.json` and also the associated directories.

I'd like you to retry from scratch and let us know if the problem is still present.

[2021-12-04 19:02] petervangalen opened #78 "Permission error"
When I try to create a Dev Environment from an existing dev environment, I get the following warning during the "3 Preparing" step (see image):

[code]
When I subsequently try to OPEN IN VSCODE, it says "An error occurred attaching to the container" as well as
`Command in container failed: mkdir -p /root/.vscode-sever/bin/...........`

Disclaimer: I am new to Docker so it may be some simple oversi

[2021-12-04 21:39] felipecruz91 commented on #78
Hi @petervangalen, thanks for trying out Docker Dev Environments!

You need to create a user and put it into the correct group for VSCode and Docker to work. Add the following lines to the bottom of your Dockerfile:

[code]

You can find a full example [here](https://github.com/felipecruz91/docker-dev-env-openfaas/blob/main/default/Dockerfile#L55-L60).

Let me know if you need help with this.

[2021-12-06 07:38] rvhelden commented on #69
@felipecruz91 Thanks that works 👍

[2021-12-06 07:38] #69 closed

[2021-12-06 14:50] Zig1375 opened #79 "dev-env doesn't work with docker-compose"
Cannot run VSCode for docker-compose.
I've tried to do that for my own code and for the docker-compose example.

MacOS 11.5
Docker: 4.3.0 (71786)

Video with the issue:
https://www.dropbox.com/s/m1swztz6sbiiqly/docker.mov?dl=0

[2021-12-06 15:59] petervangalen commented on #78
It worked! Thank you

[2021-12-06 15:59] glours commented on #78
Good news, I'll close the issue then!

[2021-12-07 10:00] felipecruz91 commented on #79
Hey @Zig1375, could you send us the diagnostics ID? You can see how to get it from the [official documentation](https://docs.docker.com/desktop/windows/troubleshoot/#in-app-diagnostics).

[2021-12-07 11:08] Zig1375 commented on #79
Hey,
Here's my diagnostics ID: C941BBAF-46A1-4209-82A5-000DAB955C4B/20211207110253

[2021-12-09 09:06] strokovnjaka commented on #74
With `Docker Desktop 4.3.0 (71786)` this works with Compose V2 as well.

[2021-12-09 09:06] #74 closed

[2021-12-09 10:07] shyagamzo commented on #37
The VSCode extension is not recognized for me.

Diag. ID: FA0A526B-5CB0-48F3-B6EF-849DB959D052/20211209095751

![image](https://user-images.githubusercontent.com/95415447/145375930-3f39f39f-8e4a-417a-bf23-1f0f0d09614e.png)

![image](https://user-images.githubusercontent.com/95415447/145375693-d5f93517-5d2b-40a7-88de-8ef36fca7786.png)

Also, there's a strange behavior... When I click the 'Retry' bu

[2021-12-09 10:08] shyagamzo commented on #5
The VSCode extension is not recognized for me.

Diag. ID: FA0A526B-5CB0-48F3-B6EF-849DB959D052/20211209095751

![image](https://user-images.githubusercontent.com/95415447/145375930-3f39f39f-8e4a-417a-bf23-1f0f0d09614e.png)

![image](https://user-images.githubusercontent.com/95415447/145375693-d5f93517-5d2b-40a7-88de-8ef36fca7786.png)

Also, there's a strange behavior... When I click the 'Retry' bu

[2021-12-10 11:51] wxw-matt commented on #5
# Git is not detected

/usr/bin/git

git version 2.30.1 (Apple Git-130)
System: macOS Monterey

![image](https://user-images.githubusercontent.com/55307382/145569973-60af2872-095b-4dd8-a9b1-f412074505c9.png)

![image](https://user-images.githubusercontent.com/55307382/145569708-561cc29e-84f0-4c80-87c8-55e930a0f8b0.png)

[2021-12-10 12:01] glours commented on #5
@wxw-matt did you try the `retry` button? Was git installed before your first try of using Dev Env? If not try to close and reopen Docker Desktop

[2021-12-10 12:25] wxw-matt commented on #5
@glours Thanks for your reply.
I quit Docker Desktop and retried, same result.
And the git is coming with macOS, it has been in the system before the installation of Docker.

[2021-12-10 12:30] wxw-matt commented on #5
Fixed, need to allow Docker to access `Documents` Folder.
It seems not related between `/usr/bin/` and `Documents`.

![image](https://user-images.githubusercontent.com/55307382/145574184-1667dc58-1474-422e-a5be-1fa2681b0cc0.png)

[2021-12-11 10:01] glours commented on #79
@Zig1375 can you try with the `Use Docker Compose V2` unchecked in your Docker Desktop Preferences?
![compose-v2](https://user-images.githubusercontent.com/705411/145672516-61ce9504-e429-43bd-a41f-9be4b71a97cb.png)

[2021-12-12 10:24] finnweiler opened #80 "dev-environments"
**Describe the bug**
I receive an error with exit status 17 when setting up a dev environment for my docker-compose project.
When disabling the "Use Docker Compose V2", the setup works, however then I don't have Git installed in my dev-container! Using the dev-envs without docker-compose works just fine.

**To Reproduce**
I am using the following configuration:
Then I create my dev-env by entering

[2021-12-12 10:28] finnweiler commented on #80
My diagnostics id: AD647B64-ED7A-4CF4-9EF9-077D051F4CBF/20211212102611

[2021-12-12 11:27] glours commented on #80
Hello @finnweiler

It's a known issue, which has been already [resolved in Compose](https://github.com/docker/compose/pull/8988).
We just need to wait the next update of Docker Desktop with version `v2.2.2` of Compose

[2021-12-13 12:49] Zig1375 commented on #79
yes, it helped. Thank you.

[2021-12-13 22:51] fyodorovich commented on #20
**Which service(s) is this request for?**

Apache Netbeans is my preferred IDE.

I'd love to see it included.

[2021-12-14 18:01] Phuurl opened #81 "Custom containers silently fail without `docker` group"
**Describe the bug**
Docker Desktop creates unusable environments when using custom containers that do not create the `docker` group as part of the build.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom dev environment container definition - eg
    `.docker/config.json`
[code]
    `.docker/Dockerfile.devenv`
[code]
2. Create dev environment (tested with using existing folder)

[2021-12-14 18:30] Phuurl opened #82 "Improve Dev Environment wizard build log UI"
**Tell us about your request**
When building a new dev environment, the build log for the container(s) is streamed into the wizard UI.
As it stands currently (on Windows 10 at least), a large amount of it comprises of undisplayable characters (presumably from progress bars etc), and it also does not scroll as new information is added like a terminal would - so it's easy to miss silent errors that

[2021-12-20 08:07] felipecruz91 commented on #82
Hi @Phuurl, thank you for the feedback on Dev Envs. We'll look at this enhancement and keep you posted.

[2021-12-20 08:13] felipecruz91 commented on #81
Hi @Phuurl, thanks for opening this issue. We'll get back to you after discussing the issue internally.

[2021-12-21 06:45] EvanSchalton opened #83 "Docker Networking Over LAN"
**Describe the bug**
[Former S/O Post](https://stackoverflow.com/questions/69097062/docker-devcontainer-serve-angular-app-on-local-network)
When building a UI (Angular) in a dev container and running it with `--host=0.0.0.0 --port=4200` and `forwardPorts: [4200]` with `EXPOSE 4200` in the dockerfile I can no longer access the webapp over local host (since 4.1.1)

**To Reproduce**
Steps to reproduc

[2021-12-21 14:47] buingocthao82 opened #84 "thao"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-21 14:58] #84 closed

[2021-12-21 17:25] glours commented on #80
Hi @finnweiler

We just release Docker Desktop 4.4.1 , this new version should fix the issue.
Can you update and check that everything is working as expected now?

[2021-12-21 17:27] glours commented on #79
@Zig1375

We just release a new version of Docker Desktop  `4.4.1 `. Now it should work with Compose V2, can you give it a try and let me know if we can close the issue?

[2021-12-21 17:29] glours commented on #68
@BennB

A new release of Docker Desktop `4.4.1 ` just landed and should fix your issue. Can you give it a try and let me know if we can close the issue?

[2021-12-21 17:40] Zig1375 commented on #79
I cannot find the version 4.4.1 . The check for updates shows that I have already had the latest version 4.3.1.
Once I get the 4.4.1 I'll try it and let you know.
Thank you

[2021-12-21 18:11] glours commented on #79
My bad 🤦‍♂️ , `4.4.1` is an internal preview, but a `4.3.2` will be released soon with the fix

[2021-12-22 16:39] benjaminsingleton commented on #76
I'm encountering the same issue. I have Git, VS Code, and VS Code Remote Containers Extension all installed. My version of Docker Desktop is 4.3.1 (72247).

[2021-12-23 06:41] BennB commented on #68
Hi Guillaume,

It appears to be working now. Thank you.

Kind Regards,
Benn

On Wed, Dec 22, 2021 at 3:29 AM Guillaume Lours ***@***.***>
wrote:

[2021-12-23 08:04] #68 closed

[2021-12-23 16:30] glours commented on #83
Hi @EvanSchalton

Are you using Docker Dev Environments or Dev Containers from VsCode?
If I'm looking to the Stack Overflow Post, it seems to be related to Microsoft Dev Containers and not Docker Dev Environments
If so, I think the best place to report this issue should be [this repo](https://github.com/microsoft/vscode-dev-containers)

[2021-12-23 20:09] Zig1375 commented on #79
@glours
Thank you. It works fine now.

[2021-12-23 20:09] #79 closed

[2021-12-23 20:35] Zig1375 opened #85 "dev-enc cannot be run if path contains the dot symbols"
Steps for reproducing:

* `git clone https://github.com/dockersamples/compose-dev-env compose-dev-env.test`
* Create a new dev environment and select the cloned folder as local directory
* Try to run vscode

If I delete the dot symbol it works fine.

Video for reproducing:
https://www.dropbox.com/s/v79sfhhfj0ap2iz/docker_env.mov?dl=0

[2021-12-23 20:47] glours commented on #85
👋 @Zig1375
Again an issue in Docker Compose v2, you can make it work by unchecking the Docker Compose V2 option in Docker Desktop settings

[2021-12-29 06:43] MagicalBomb opened #86 "Can't delete Dev Environment"
**Describe the bug**
When I want to delete a dev environment, it tips me "Error: TypeError: error.toJSON is not a function"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dev Environments'
2. Click on 'Create'
3. Click on 'Get Started'
4. Click on 'Locale Directory'
5. Click on 'Select'
6. Select an empty directory
7. Click on Continue
8. WIndow closed
9. You can't delete dev environ

[2021-12-30 01:00] AndrewSav opened #87 "Cannot share environment"
**Describe the bug**

Sharing is not working

**To Reproduce**
Steps to reproduce the behaviour:

Try to share the environment as per screenshots below

**Expected behaviour**
I expect the environment to be shared

**Screenshots**
![2021-12-30_13-56-26](https://user-images.githubusercontent.com/658865/147713420-0c47fe93-5bc3-498d-b60c-1d55a8fb1ad9.png)
![2021-12-30_13-57-33](https://user-images.gi

[2021-12-31 02:10] TIBTHINK opened #88 "Dev environment variables"
**Tell us about your request**
allow the user to pick a base image, whether it is deb based or arch-based
and allow users to set variables for the dev environment
**Which service(s) is this request for?**
setup

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I have a python script that checks to see if it's running in a docker container, it wou

[2021-12-31 13:37] buingocthao82 commented on #84
(paste your output here)

[2021-12-31 16:19] buingocthao82 opened #89 "pi network"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

**Which service(s) is this request for?**
Let us know which product(s) you want this for?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A clear and concise description of what the problem is. Ex. I'm always frustrated

[2021-12-31 16:22] buingocthao82 commented on #89
pi network

[2021-12-31 16:30] buingocthao82 opened #90 "pi network"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-31 16:30] #90 closed

[2021-12-31 16:31] buingocthao82 opened #91 "pi network"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-31 16:34] glours commented on #89
@buingocthao8 what is your need? I saw that you created 1 issue previously.
`pi network` isn't enough to explain an issue.
Can you please update the description or this one will be close like the first one.

[2021-12-31 16:34] #91 closed

[2022-01-01 00:04] buingocthao82 opened #92 "Docker/dev-environments"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-01 01:16] buingocthao82 commented on #92
enviroment compose-dev-env-serene_liskov already exists

[2022-01-01 01:16] #92 closed

[2022-01-01 06:00] buingocthao82 opened #93 "enviroment compose-dev-env-serene_liskov already exists"
enviroment compose-dev-env-serene_liskov already exists

_Originally posted by @buingocthao82 in https://github.com/docker/dev-environments/issues/92#issuecomment-1003479947_

[2022-01-01 06:01] #93 closed

[2022-01-03 07:53] felipecruz91 commented on #86
Hey @MagicalBomb, thanks for reporting the isssue. While we fix it, please try removing the existing dev env from the `~/.docker/devenvironments/data.json` and delete the associated directories too.

[2022-01-03 13:49] #89 closed

[2022-01-10 08:47] felipecruz91 commented on #82
The fix to remove the box characters and have the automatic scrolling is completed. I will let you know once it has been officially released.

[2022-01-10 08:50] felipecruz91 commented on #87
Hi @AndrewSav, thanks for reporting the issue.

To help us identify the problem, could you provide the diagnostics ID? here are the instructions on how to do this: https://docs.docker.com/desktop/windows/troubleshoot/#diagnose-and-feedback

[2022-01-10 09:23] felipecruz91 commented on #88
Hey @TIBTHINK, please see in the following [repo](https://github.com/felipecruz91/python-dev-env) an example of how to set environment variables in a Dev Environment.

[2022-01-11 21:25] AndrewSav commented on #87
@felipecruz91 E3D4977B-457B-422D-B272-05699C9A8262/20220111212157

[2022-01-12 12:17] felipecruz91 commented on #87
Thanks for the diagnostics ID, @AndrewSav.

After some investigation, we believe it has to do with the name of the GitHub repo you're creating the Dev Environment from. Can you try renaming your repository in GitHub from `Memento` to `memento` (all lowercase)? Then, try creating the Dev Environment again.

Could you confirm if that works? If so, we have a fix ready to be released.

[2022-01-12 20:56] AndrewSav commented on #87
@felipecruz91 nope, I also tried it on your own repo `dev-environments` with the exactlly same result. I'm also showing the repo on screenshots (now deleted) that is all lowercase. so this is not the reason.

[2022-01-24 20:47] itay-sho opened #96 "Can you specify VSCode extensions on the Dockerfile?"
I've seen that there is a difference in VSCode between the plugins on my host machine and the ones that are installed on the container. I was wondering if there is a way to specify the extensions from the Dockerfile.

Thank you!

[2022-01-24 20:50] glours commented on #96
Hello @itay-sho

It's something we have in mind and we want to achieve with Compose, but ATM it's not possible to define your plugins with Dev Environments

[2022-01-24 21:19] itay-sho commented on #96
Thank you. I though about adding a development stage on my dockerfile and run "code install extension" command to install all the extensions I need. Would that work as a workaround for now?

When does vscode is actually being added to the container?

[2022-01-24 21:24] glours commented on #96
I don't think because the vscode server bits will be installed by  vscode when opening the container.
Or you will have to install vscode server inside the container by yourself to be able to do that

[2022-01-25 10:50] liamfoneill opened #97 "Dev Environments should be behind Experimental Features Feature Toggle"
**Tell us about your request**
Dev Environments shouldn't be there in the UI every time I open Docker Desktop. I should be able to hide it from the UI with a toggle in the Docker Desktop Settings

[2022-01-27 06:59] cforce commented on #70
That feature is already out.
https://www.jetbrains.com/help/idea/2021.3/remote-development-starting-page.html#start_from_IDE
What needs tp be provided inside the docker image that runs the remote server is not clear to me.
It is very important that i can use all docker composed services the same way if i would "really" run my idea inside this container where docker services lie dbs, kafla, elastic

[2022-01-28 20:28] jfedotov opened #98 "set workspaceFolder other than /com.docker.devenvironments.code"
I would like to connect to a remote dev container and have access to files stored inside a container. However, every time I open a dev container via Docker's Dev Environment the "workspaceFolder" is always set to "/com.docker.devenvironments.code" which is mounted to a local folder on my PC.
Is any way how to change workspaceFolder to the path inside the container? Because in my case all source fi

[2022-01-28 20:29] jfedotov commented on #98
<img width="1021" alt="Screenshot 2022-01-28 at 21 26 16" src="https://user-images.githubusercontent.com/19622412/151616926-aa1cdf06-61a2-46a9-8d97-c1bf3456007f.png">

[2022-01-29 17:02] thanhchauvksdbp opened #99 "hello"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-29 17:06] #99 closed

[2022-01-30 22:48] JDFagan opened #100 "Fingerprint prompt causes creating new dev environment from git clone to hang"
**Describe the bug**
Fingerprint prompt causes creating new dev environment from git clone to hang:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dev Envinronments (Preview)'
2. Click on 'Create New Environment'
3. Click on 'Get Started'
4. Choose 'Existing Git repo' and enter your git repo, then click on 'Continue'
5. See fingerprint prompt (yes/no) causing it to hang (no a

[2022-01-31 04:12] JDFagan commented on #100
I think I figured out what my issue was.  See `Additional context` section in my bug submission above.  When I was doing steps to setup devcontainer for Visual Studio Code per Microsoft instructions, at one point I decided to see if messing with my docker context would help unstuck me and that seems to have been my issue for causing hang as described in this ticket.

See below commands I ran and n

[2022-01-31 04:12] #100 closed

[2022-02-03 20:38] stephanierifai commented on #88
Hi @TIBTHINK :) Looking for some more feedback on how people are using dev environments now, would you be interested in chatting with us? If so want to drop me an email at [steph.rifai@docker.com](mailto:steph.rifai@docker.com) and we can find a time :)

[2022-02-03 20:41] stephanierifai commented on #20
Hi folks, thanks for all of your input !! We're looking for some more feedback on how people are using dev environments now, if you'd be interested in chatting with us you can drop me an email at [steph.rifai@docker.com](mailto:steph.rifai@docker.com) and we can find a time :) Really appreciate the feedback

[2022-02-07 08:59] glours commented on #97
Hello @liamfoneill

It's a preview feature not an experimental one, that's why we don't provide a feature flag to hide it

[2022-02-07 08:59] #97 closed

[2022-02-07 09:07] glours commented on #98
Hello @jfedotov

ATM there is no way to configure the source code folder, we're looking to use Compose format to configure you Dev Environment which may allow you to change the source folder name.
We don't support the `.devcontainer.json` configuration now but it's not exclude in the future

[2022-02-13 04:06] oleksis opened #101 "Add action for rebuilding compose stack in Development Environments"
**Tell us about your request**
If I modify/update the Dockerfile allow to rebuild the compose stack

**Which service(s) is this request for?**
Docker Desktop

[2022-02-16 09:00] kb-ig commented on #98
Yeah I need this option. I have my VScode title formatted so that the name of the folder is the first part of the title, so that when I have multiple windows open (which is pretty much all day every day), I can easily identify which is which. At the moment, when running multiple dev containers, I have no easy way of identifying this.

![image](https://user-images.githubusercontent.com/91877080/154

[2022-02-17 12:25] rumpl commented on #98
The main reason is that it's a unique (and yes, weird) name so that there is very little chance it would already exist in the image. You could have a repo name called `etc`, and the container name changes so it's not a great fit.

[2022-02-21 02:16] Mr0cket opened #102 "dev container doesn't automatically install any of the tools necessary to setup/start my project..."
**Tell us about your request**
My project uses lots of cli tools,  necessary to setup & start it... e.g: `node` The dev container does not come with any of these tools, nor at the correct versions... it's useless. I can create a better container myself that has all the tools I need in 5 mins.

**Which service(s) is this request for?**
dev Environments

**Tell us about the problem you're trying to

[2022-02-21 08:31] glours commented on #102
Hello @Mr0cket

Can you share the log of you dev environment startup (without using your image)
Dev Environments currently detect and provide base images for Javascript, Go, Java and Ruby projects

[2022-02-21 08:44] kb-ig commented on #98
Yeah that's a fair point. Maybe prefixing the unique folder name with the name of the repo would solve this issue. Best of both worlds.

[2022-02-21 09:40] frankcorneliusmartin commented on #87
I encounter the same issue:
![image](https://user-images.githubusercontent.com/15981243/154928694-fa28e46b-8501-4af6-ae02-1644e9024137.png)

[2022-02-21 23:46] AndrewSav commented on #87
It appears that even with the full system info and logs that are uploaded to get the diagnostics ID the issue is too hard to track down. On the other hand it's preview still, so there is hope that it can be made functional before the release.

[2022-02-22 02:36] C046 opened #103 "Gonna keep it short but,"
You guys should totally add vim support rather than vs code support.

[2022-02-22 03:39] Mr0cket commented on #102
Hi, My dev environment is a node/typescript client/server project, here are the logs for environment startup:

[code]

The dev container used is: `dev-environments-default:stable-1`.

[2022-02-22 09:14] glours commented on #102
Thanks, the issue is fixed (we didn't detect TypeScript as Javascript project) and should be release in the next Docker Desktop version.
As a work around you can add a `.docker/config.json` file in your repo with the following content
[code]

[2022-02-22 12:48] #102 closed

[2022-02-23 13:31] yilmazdurmaz opened #104 ""Exec in CLI" option does not start into code folder, namely `com.docker.devenvironments.code`"
**Describe the bug**

Instead of starting a VSCode session, I want to fast inspect my code so I start into a CLI, but the folder it opens is not the work directory for the code.

**To Reproduce**

Steps to reproduce the behavior:
1. create a dev environment from sample: https://github.com/dockersamples/single-dev-env
2. when ready, use "Exec in CLI" instead of opening it in VSCode
3.
[code]

**Exp

[2022-03-01 09:25] glours commented on #81
Hello @Phuurl

A quick update, we didn't fixed your issue ATM, but we at least improved [the documentation for this specific point](https://docs.docker.com/desktop/dev-environments/#specify-a-dockerfile)

[2022-03-07 20:32] stephanierifai commented on #103
Hey @C046 ! This is something we are investigating 🧐 Would you be willing to chat with us some more about it? If so, drop me a line at steph.rifai@docker.com and we can find a time :)

[2022-03-07 20:32] stephanierifai commented on #101
Hey @oleksis! This is something we are investigating 🧐 Would you be willing to chat with us some more about it? If so, drop me a line at steph.rifai@docker.com and we can find a time :)

[2022-03-07 20:37] stephanierifai commented on #64
Hey @shaunc! Very interesting, we're thinking about our development experiences for kubernetes in general and would love to learn more about your use case 🧐 Would you be willing to chat with us some more about it? If so, drop me a line at steph.rifai@docker.com and we can find a time :) Thanks for the feedback!

[2022-03-07 23:56] oleksis commented on #101
I would be very proud to be able to help and give my recommendations

[2022-03-08 11:16] C046 commented on #103
Sure, what is it you wanted to talk about?

On Mon, Mar 7, 2022 at 12:32 PM stephanierifai ***@***.***>
wrote:

[2022-03-10 09:37] benknight135 commented on #98
I was able to get around this for the time being by creating a symlink where I wanted the folder so the ```/com.docker.devenvironments.code``` is still created as normal but is also in the location required and all changes in the devenvironments folder are mirrored in the target folder.
In my dockerfile it looks like this:
[code]

[2022-03-14 10:46] mgrossmann commented on #15
Hi..

same problem here.
I'm using WSL2 and Docker Desktop.
If I try to create my dev environment from an existing repo, I get stucked.

Using a SSH url, docker is telling me, I should use the ssh agent. I set up this agent stuff in my WSL2 linux system.
But this did not work.

If I try to use a HTTPS url, I got stuck, because the CA certifiacte is unknown.

[2022-03-14 16:34] glours commented on #87
Hello there,

The issue was detected and a fix is currently in review.

[2022-03-20 15:00] tetrode opened #105 "When running the sample single container dev environment I get no such image docker/desktop-git-helper"
**Describe the bug**
When running the sample single container dev environment I get no such image docker/desktop-git-helper:5a4fca126aadcd3f6cc3a011aa991de982ae7000

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker 4.6.0 (75818)
2. Click on Dev Environments, single container dev environment
3. At the setup, use the proposed https://github.com/dockersamples/single-dev-env repo
4. Err

[2022-03-20 16:00] glours commented on #105
@tetrode did you try to pull it manually and then retry?
`docker pull docker/desktop-git-helper:5a4fca126aadcd3f6cc3a011aa991de982ae7000`

[2022-03-20 20:30] tetrode commented on #105
That takes me already steps further, I now get

Preparing to clone inside a volume
Installing credential helpers... done
Cloning into '/code'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 14 (delta 3), reused 9 (delta 1), pack-reused 0
Receiving objects: 100% (14/14), 6.93 KiB | 2.31 MiB/s, don

[2022-03-20 20:31] glours commented on #105
Can we close the issue?

[2022-03-20 20:32] tetrode commented on #105
Yes you can close the issue, thanks

On Sun, Mar 20, 2022 at 9:31 PM Guillaume Lours ***@***.***>
wrote:

[2022-03-20 20:32] #105 closed

[2022-03-21 19:55] mattdkerr commented on #35
As a data point, I'm able to use SSH to clone a GitHub Enterprise intranet hosted location fine under 4.5.0 of Docker Desktop for Mac. (I wasn't able to get past "username" prompt for using HTTPS clone, it didn't take user input.)

Not sure if this means it's fixed or whether there was a DNS issue at the time that you were trying to execute your test of the feature.

[2022-03-26 05:48] AntoniRokitnicki opened #106 "missing button "open in chrome""
I'm new to docker. I would like to develop fully in docker. It sounds like a good idea. I used "react-java-mysql" example app as in the example video.  Everything works as expected. I've opened the backend in vscode. I changed rest response by adding one character.
Now I'm stuck on how to see this change.

I think it would be cool if docker desktop provided one additional button. Open in chrome. I

[2022-03-26 05:54] AntoniRokitnicki opened #107 "creating environment from cloned git repo"
I think this feature would be better if you provide the option to start a project in docker(+ vscode) from git repo.
I'd clone git repo(to make it work with work repos as well or repos with complex auth). I'd have an option to choose a directory. docker would run a Dockerfile/Docker-compose/k8s and expose a port/ports. it'd also support code changes in vscode.
This way I'd not have to install tool

[2022-03-27 07:22] timosystems commented on #52
can confirm this issue. it happens with custom built containers as well as with external images. for example:
`
  db:
    image: mariadb
    restart: always
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=vecoss
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - 3306:3306
`
wont have mariadb service star

[2022-04-04 02:17] TheSpyder opened #108 "Manage git GPG signature settings from my environment"
I have signed commits enforced in my `~/.gitconfig`:

[code]

It would be nice if the signature could be imported, although I realise this is probably difficult, but at the very least these settings should be flagged and/or deleted since they make it impossible to commit or tag inside the dev environment.

[2022-04-08 08:49] vytautas-petrikas commented on #80
Hi @glours,
Simmilar issue still present in Docker Desktop version v4.5.1.
As files are stored in windows temp directory they get cleaned up for some reason and docker can no loger access them to run the compose.

[2022-04-08 09:53] glours commented on #80
@finnweiler Can you upgrade your Docker Desktop to the latest version `4.7.0 (77141)` please?

[2022-04-10 01:57] abulka commented on #86
Can someone please provide more information about exactly which directories and images can be removed?  Assuming I have the default example 'Go' dev environment `dockersamples/single-dev-env`:

There is a directory e.g. `~/.docker/devenvironments/single-dev-env-charming_grothendieck` which I can delete, sure. There are a couple of volumes `volume-single-dev-env-charming_grothendieck` and `vsCodeSe

[2022-04-13 15:40] bill-salvucci-experoinc-com opened #109 "How to get credentials, e.g. .aws/credentials, into a devenv that is shared"
**Description**

I'd like to share a docker dev environment with all the tooling needed for our project installed and configured. We've done this by initially creating a docker dev env from git clone of our repo. we installed a bunch of stuff into that and then used "Share" in Docker Desktop Dev Environments to push an image to our hub.docker.com repo as :latest. Now all the team members create a

[2022-04-15 11:18] kantesilvestrs opened #110 "Got permission denied while trying to connect to the Docker daemon socket after restarting Docker for Desktop"
**Describe the bug**
Dev environment throws `Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/version": dial unix /var/run/docker.sock: connect: permission denied` message when trying to interact with docker, e.g. `docker stats` after Docker for Desktop has been restarted.

**To Reproduce**
Steps

[2022-04-17 21:04] gpfister opened #111 "Environment variable / secrets"
**Tell us about your request**
Just like it can be done on any CI solution (Github Actions, Bitbucket Pipelines, ...), it would be great if we could store at the Desktop client level some environment variable and secrets, which would be pass when the dev environment is created, especially, when building from a git remote repository.

**Which service(s) is this request for?**
Docker Desktop (for Wi

[2022-04-19 02:36] username725 commented on #39
I see this as well.  Here is a screenshot of about:
![image](https://user-images.githubusercontent.com/94559912/163908067-9528b252-ef09-4271-b814-5bab188e8f28.png)

This issue might have something to do with user accounts and/or privilege.  I use Docker as a regular (non-admin) Windows 10 user account; this same user account would have initiated the Docker Desktop installation, but it seems likely

[2022-04-22 09:05] drsgoodall opened #112 "New dev environment fails to populate code volume"
**Description**

Creating a new dev environment from a git repository fails to populate the volume. The clone appears to work successfully (and if I point to my internal repo it will fail unless I have my ssh key loaded so it is making the connection.) However the language detection fails and it starts up the base dev-environments image rather than a language specific one.

Browsing the the releva

[2022-04-22 10:34] drsgoodall commented on #112
I've a bit of further testing.

I deleted and re-added "ubuntu-20.04" as my default image. - Can repeatably install the sample.
I added the snippet below to setup my ssh-agent - Can repeatably install the sample.
I run "wsl" to load up the ssh-agent  - Can repeatably install the sample.
I run "wsl" and ssh-add in the terminal to load in my ssh key - Sample stops working.
I run "wsl" and killall ss

[2022-04-25 10:20] #14 closed

[2022-04-25 11:03] drsgoodall commented on #112
By ignoring the ssh instructions in the dev environments instructions and following the instructions for Windows ssh-agent as a service [here](https://code.visualstudio.com/docs/remote/containers#_sharing-git-credentials-with-your-container) I was able to clone my own repository into a volume.
My wsl no longer has a ssh agent running in it.

[2022-04-26 11:11] kereis commented on #112
I also had the issue that no source code files were present inside the dev environment container. I had the SSH agent running inside WSL too. So I removed the code snippet from the Docker documentation for auto-starting the SSH agent inside WSL and followed the instruction that was linked by @drsgoodall. Afterwards, the source code is available inside the Docker Dev Environment container.

[2022-05-10 18:30] jlconnor opened #113 "Ability to select platform of development image"
**Tell us about your request**
The ability to select different platforms (i.e. amd64, arm64) when spinning up a Dev Environment

**Which service(s) is this request for?**
Dev Environments

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
I have a Mac M1, but the majority of my development is done in Linux intel environments. I currently have to u

[2022-05-10 18:34] jlconnor opened #114 "Support for dotfiles repositories"
**Tell us about your request**
Add further customization by supporting dotfiles repositories from GitHub, gitlab, etc.

**Which service(s) is this request for?**
Dev Environments

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
When I spin up a new Dev Environment container, it's quite bare-bones. It's missing tooling and configurations that I u

[2022-05-10 18:40] stephanierifai commented on #113
Thanks for the feedback @jlconnor ! We'd love to chat more about this with you, if you are interested fill free to reach out to me at steph.rifai@docker.com and we can set up a time!

[2022-05-10 20:45] jlconnor commented on #113
@stephanierifai Thank you for reaching out! I sent you an email.

[2022-05-13 16:03] aquadiode opened #115 "Exit status 17: Dockerfile.devenv: no such file or directory"
**Describe the bug**
Attempting to create a docker-compose multi-stage dev environment.  When trying to build pointing at URL https://github.com/aquadiode/snipe-it it clones, detects the repo language (PHP), then fails with the following message:
`Resolving deltas: 100% (81616/81616), done.
Detecting main repo language...
Detected 'PHP' as the main repository language.
#1 [internal] load .dockerig

[2022-05-23 10:59] stuartbrand opened #116 "Pushing edited code back to git from Docker Desktop"
This is for Docker Desktop Dev Environment;
After successfully cloning the git repository and starting the dev environment. editing the code via cs code works and runs as expected.

However, how is the edited code now pushed back to git?

The environment didn't clone the code, this was done in docker desktop... and after leaving vs code and returning back to docker desktop, there are no options fo

[2022-05-25 09:43] #116 closed

[2022-05-25 17:23] stephanierifai commented on #6
Thanks for bringing this back up @aglsteve! We're taking a look 👀 !

[2022-05-26 17:56] jamesgecko commented on #103
For optimal application performance, it's recommended to clone the git repo into the Docker container. It would be great if I could mount this directory _from_ the container _to_ the host. That way the filesystem performance bottleneck would be between my non-vscode editor on the host and the repo in the container, rather than the application runtime in the container and the repo on the host.

[2022-06-02 09:04] glours commented on #87
@AndrewSav the fix has been ship with Docker Desktop `4.7.0`.
Do you still have the issue?

[2022-06-02 10:19] AndrewSav commented on #87
Nope, just checking that there is nothing outstanding from your side. Thanks!

[2022-06-02 10:19] #87 closed

[2022-06-10 06:04] jrj2211 opened #117 "Compose project gives error for escaping $ for mongo replica set even though it already is?"
**Describe the bug**
I'm trying to use a mongo replica set in my dev environment. This typically is done by using the healthcheck to run the "rs.initiate()" command for mongo. When running docker-compose up manually it works fine, but when run through dev-enviroments I get an error about escaping a $.

My docker-compose.yaml is this:

[code]

When running this as a dev-enviroment though I'm gettin

[2022-06-12 23:08] jrj2211 commented on #117
Thinking about this, I'm guessing that it has something to do with the generated devenv-docker-compose.yaml that shows up. I changed my stuff to use an bash script in a separate container so unfortunately I can't check that yaml file to see if its for some removing a $. I vaguely remember seeing this when testing the other day though but it didn't register to me that was happening.

[2022-06-12 23:12] jrj2211 opened #118 ""Stick to Bottom" is ON despite slider showing OFF initially"
**Describe the bug**
Stick to bottom is on by default, despite the slider being "OFF".

![image](https://user-images.githubusercontent.com/6005836/173257346-453ead88-77d7-487c-b541-4d3ac050706c.png)

Toggling "Stick to Bottom" ON/OFF once fixes the issue and I can then freely scroll

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a running container
2. Try to scroll up as it outputs

[2022-06-12 23:29] jrj2211 opened #119 "Ability to change owner of com.docker.devenvironments.code"
**Tell us about your request**
I'm still fairly new to Docker so there might be a way around this but everything I've tried has not worked. My issue is that when opening my container in VS Code and the files are mounted in /com.docker.devenvironments.code, the owner of that is not root which causes some issues for my development environment. I think it should mount as the user of the container - i

[2022-06-22 07:43] #6 closed

[2022-06-22 07:43] #16 closed

[2022-06-24 16:28] mouimet-infinisoft opened #120 "Lost Data"
**Describe the bug**
Not sure if it's a bug. I did create a new Dev Env  using git repo from docker desktop.  Working fine, I code on it. I did commit and did not push. I stopped the env by pusing stop button in docker desktop.  Env is gone and lost my code.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Dev Environments
2. Click on Stop Button

**Expected behavior**
If its possibl

[2022-06-25 23:16] hrvojej opened #121 "Python dependencies installation takes too long"
After opening dev environment in vscode I'm trying to install Python dependencies.
It's working but extremely slow. I got nothing else running.

So when running something like:

`vscode ➜ /com.docker.devenvironments.code (master ✗) $ pip3 install -r requirements.txt
`
I'm looking at:

`Running setup.py bdist_wheel for pandas ... \`

for at least 5 minutes now..
Several other dependencies have inst

[2022-06-26 10:24] TheMehranKhan commented on #76
Bump, I'm experiencing the same issue with Docker Desktop 4.9.1 (81317) and git version 2.36.1, when creating the dev enviroment VSCode and VSCode Remote Containers Extension is being recognized but not "Git"

I've tried these steps but didn't worked:
Removing and Re-installing docker desktop
Reinstalling Git using Brew

[2022-06-29 14:35] donseba opened #122 "Extends does not seem to work like it should in dev environment"
**Describe the bug**
The extends tag does not seem to correct the path to the file that is going to extend the service.

**To Reproduce**

- project directory
  - .docker/docker-compose.yaml
  - .docker/templates.yaml

`docker-compose.yaml`
[code]

`templates.yaml`

[code]

Import the project into docker dev environment

The error :

`open <project-path>\templates.yaml: The system cannot find the

[2022-07-05 09:45] Juraji opened #123 "Abilty to disable/hide Dev Environment's "Open" button"
**Tell us about your request**
The ability to disable dev environments. Or at least hide "Open in VS Code"-button from the container overview. There's even a context menu on the top right, where one can switch columns on/off. Having just a toggle for the button is also fine.

**Which service(s) is this request for?**
Docker desktop/Dev environments

**Tell us about the problem you're trying to sol

[2022-07-13 14:53] troyatomic opened #124 "Be able to choose Dockerfile to start from instead of using dev-environments"
**Tell us about your request**
First of all the Docker Dev Environments is right on target.  I can't wait to see this feature expand.
One of things I think is needed is to be able to create your own base image.  I've only just started using Dev Environments, so this could be my ignorance or the git repo that I started with, but when I created a dev environment from https://github.com/nestjs/typesc

[2022-07-15 19:09] krashr-ds commented on #76
I'm experiencing this issue as well with Docker Desktop 4.10.1 (82475)  and Git version 2.37.1.windows.1
Like TheMehranKhan, VSCode and VSCode Remote Containers Extensions are both being recognized, but not git

I've tried uninstalling and re-installing Git as the documentation suggested, this did not work
I verified that the path to Git was correct in both the system and my personal PATH, and mov

[2022-07-17 12:04] yagizkambak opened #125 "I couldn't use Dev-Environments. Error: [object Object]"
Hi,

When I click on the "Dev-environments" tab on "Docker-Desktop", I get the error "Error: [object Object]". I had encountered the same error in previous versions of Docker-Desktop and I expected it to be fixed with updates. However, the same errors continued after the updates. I tried uninstalling and reinstalling Docker but the situation did not change. Likewise, I re-installed vscode and git,

[2022-07-18 09:46] devergranne opened #126 "Auto-switch off (energy savings)"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

I want to have a setting that allows me to automatically put the container to sleep after a specific no-activity time. Containers use a lot of energy for no reason when they are on but unused. We can save a lot of energy by turning them off when we don't need them.

**Whic

[2022-07-20 21:03] AbderrazzakB opened #127 "I can't push commits to Github remote repository"
I can't push commits to the remote repository

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dev container following the steps in the docker desktop app from a remote GitHub repository
2. Update some files
3. Commit updates

**Expected behavior**
Push commits to Github remote repository

**Screenshots**
![image](https://user-images.githubusercontent.com/23277063/180081106-0f5f661f-

[2022-07-20 23:30] glours commented on #127
Can you try [this](https://github.com/desktop/desktop/issues/9597#issuecomment-617810468)? It seams to be a specific issue of Git for Windows and not related to Docker Dev Environments

[2022-07-21 10:17] AbderrazzakB commented on #127
Thank you, it worked
for me, I had to remove the helper config from the .gitconfig file, the command didn't work for me!

[2022-07-21 10:17] #127 closed

[2022-07-21 21:41] mvenilton commented on #19
My scenario is a git submodule inside the main repository that was cloned by docker dev enviroment, what I would like is for it to clone the submodules as well (git submodule update --init)

[2022-07-25 07:37] sirkkalap opened #128 "Dashboard introduction to Dev-envs lacks documentation link"
It might well be obvious to a majority of Docker users what dev-environments are but for me some questions are left unanswered on the introduction page in Dashboard.

1. What is it used for?
2. Will it use some cloud service or is it local and secure?
3. Are there some additional costs / licenses involved?

I would assume the "Watch the demo" explains these, however that is not something to copy &

[2022-07-27 07:08] nrylov opened #129 "Required to upgrade to share as a pro user"
**Describe the bug**
The [documentation page](https://docs.docker.com/desktop/dev-environments/share/) for sharing a dev environment states that:

 However, as a pro user, pressing the share button results in a popup asking to upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign into Docker Desktop with a pro account.
2. Create dev environment.
3. Attempt to share the created dev en

[2022-08-07 05:55] sss6672 opened #130 "Describe the bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-07 05:56] sss6672 opened #131 "ell us about your request*"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

**Which service(s) is this request for?**
Let us know which product(s) you want this for?

**Tell us about the problem you're trying to solve. What are you trying to do, and why is it hard?**
A clear and concise description of what the problem is. Ex. I'm always frustrated

[2022-08-07 05:57] #131 closed

[2022-08-07 18:51] #130 closed

[2022-08-09 12:06] devergranne opened #132 "Can't see clearly which repository I'm working on"
**Tell us about your request**
A clear and concise description of what you want to happen or the change you would like to see

I need to see clearly which Dev environment I'm working on. Currently I see weird names in big fonts which is not very useful. I need to see first the name of my repository - and why not give me the possibility to update the name on the interface also ? Would be more clear

[2022-08-14 03:32] thetacom commented on #10
I also cannot connect to an organizational repository using https as the server uses a self-signed organizational root certificate.

Error presented during step 3 - Preparing:
[code]

ssl cloning is disabled on the server so that is not an option.

[2022-08-16 23:07] htcarr3 commented on #110
Is there any update on this? I have the same issue. On restart my dev environment user requires sudo with docker commands

[2022-08-31 21:01] sbland commented on #19
I'm also trying to achieve this with submodules. I can create a new dev container from the wrapping repo. As the repo is private I cannot run `git submodule update --init`. Result is `git@github.com: Permission denied (publickey).` error.

[2022-09-01 07:30] sbland commented on #19
I fixed my issue by using ssh-agent instead of a ssh config file and then creating a container with git ssh instead of git https.

[2022-09-01 08:45] sbland opened #133 "Cannot mount a volume when running docker-compose from dev environment"
**Describe the bug**
Running a developer envionment with a docker-compose file in root. When running the compose file the volumes are not mounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `docker-compose up` or `sudo docker-compose run --entrypoint /bin/bash -v $PWD/app/client:/app client`
2. It spins up the container but no volumes are attached

**Expected behavior**
`/app` shoul

[2022-09-12 10:04] KieranJeffreySmart commented on #110
I also have this issue. When trying to perform docker commands I get permission denied. I have tried adding the user to the docker group, which seems to exist, but this asks for a password, which I dont have

[2022-09-15 17:13] bryanc-hrbl commented on #21
Without support for private docker registries our cyber security organization will not let us use docker dev-environments.

[2022-10-01 12:53] maartenba commented on #70
@rumpl or other folks from Docker, feel free to reach out to maarten at JetBrains via email (I work at JetBrains and can connect with the right folks if needed)

[2022-10-05 08:10] crowmedia commented on #31
I have also the same problem behind my company proxy. Configured in Docker Desktop running for normal adding of containers but not for dev environments. Tried to add my proxy in config.json ... same result. Proxy in Git is also configured and deactivating in Docker Desktop it needs an authentication.

[2022-10-22 00:01] Hronom commented on #11
Hey sorry, but did you lost this feature again? I can't find it. I try to clone private repository using ssh

[2022-10-27 17:03] phatpaul commented on #119
I came here to say this after giving Dev Environments a try.

I got as far as `npm install` but it failed to install sharp with an error that the owner of the folder should be the same as the user running npm install.

Any tips?

[2022-10-27 21:17] Hronom commented on #70
@maartenba , @rumpl did you connected internally? Heavy need this=)

Here motivation post for JetBrains on LinkedIn https://www.linkedin.com/posts/martinmarcher_jetbrains-intellij-pycharm-activity-6976145178717769729-t1wW?utm_source=share&utm_medium=member_desktop

[2022-10-27 21:19] glours commented on #70
@Hronom yes both teams are in touch now

[2022-10-30 01:23] bastianb opened #134 "Add a way to reload/recreate the environment or add compose labels to containers from ui or cli"
**Tell us about your request**
A button (or cli command) that will reload the environment - running a "docker compose up" under the hood?
And/Or add compose labels to the containers, so one can change the running container in an environment with docker compose itself.

**Which service(s) is this request for?**
docker dev environment

**Tell us about the problem you're trying to solve. What are you

[2022-10-31 16:15] Hronom commented on #134
+1 this is critical feature for Dev Environments adoption

[2022-11-01 21:10] Akahadaka opened #135 "Broken environment state "STOPPING""
**Describe the bug**
The environment is in and constant "STOPPING" state. No amount of restarting PC or Docker Desktop will change it. The container itself stops and starts just fine.

**To Reproduce**
Not entirely sure. Stopped all the environments at the end of the day as usual, but they just "hung" for ages. Eventually restarted Docker, but it didn't change anything.

**Expected behavior**
The

[2022-11-03 00:00] Hronom commented on #134
@bastianb I got question why it's closed? Actually I believe this issue tracker is for this feature
![image](https://user-images.githubusercontent.com/429993/199623546-6954d5fb-e2b7-4b0a-b4d3-8bf05bfd0460.png)
https://docs.docker.com/desktop/dev-environments/

So we need a button that will re-scan `compose-dev.yaml` and update proprieties for related containers

[2022-11-03 08:50] bastianb commented on #134
I can reopen it, but I have very low hope for it to be ever as feature rich as vscode de container.

[2022-11-13 12:59] chamhaw opened #136 "Cannot clone repository with ssh on Windows"
**Describe the bug**
Cannot clone repository with ssh from github or other platform.

**To Reproduce**
Steps to reproduce the behavior:
1. Start ssh-agent for git bash
2. Add pub key to github
3. ssh-add ~/.ssh/id_PRIVATE
4. Create dev environment, try to clone with ssh
5. The message is in the Screenshots part.
6. Start ssh-agent on WSL2(Ubuntu) which is  integrated with docker desktop
7. ssh-add

[2022-11-15 13:56] jw-websensa commented on #110
I am also facing the same issue.
After some troubleshooting I noticed two very suspicious things:

1. When I am checking if `vscode` user is part of `docker` group though `group` command, it looks like it is not.
However, I also looked inside `/etc/group` file and `vscode` user is included there:
[code]

2. The owner user and group of docker socket are both set to `root`. I changed group to `docke

[2022-11-16 14:05] chamhaw commented on #136
Reolved. Maybe the docker documentation is not correct. Either git bash nor WSL2 cannot work. Only ssh-add on Windows can work.
[code]

[2022-11-16 14:35] chamhaw commented on #136
But another issue.
[code]
Cloning from both Powershell and Git Bash works well.

[2022-11-16 21:38] jfrumar-infinitusai commented on #110
It looks like the `gid` of `docker.sock` is now set to 800 whenever you start up your VM. If they don't match, then you're going to have problems. We now have this line in our Dockerfile to build the base image:

`RUN groupadd docker -g 800`

This has solved the docker permissions issue for us.

[2022-11-25 17:11] arianitu opened #137 "Open with VSCode breaks everything, Docker Environments are useless?"
**Describe the bug**
If you click Open with VSCode on any container, it breaks the original container (stops whatever is running, whether its nginx or apache.) What's worse is there is no way to get your original container working again (through a restart.). There is no way to start apache or nginx afterwards?

You basically have to delete your entire development environment and start again. This

[2022-11-25 17:13] arianitu commented on #137
@glours any input on this? I'm actually super confused on what Docker Development Environments are for?

[2022-11-25 17:21] arianitu commented on #81
Would this potentially cause issues such as https://github.com/docker/dev-environments/issues/137?

Why does it need to change the owner of the Docker Socket?

[2022-11-25 17:32] arianitu commented on #137
Can you please set `overrideCommand: false` in the `devcontainer.json` that Docker Development Environments use? It's by default set to true so it will run `/bin/sh -c "while sleep 1000; do :; done"` instead of the original command in the Dockerfile.

This seems like a pretty big oversight.

See (https://containers.dev/implementors/json_reference/)

[2022-11-25 17:34] arianitu commented on #137
Found another issue on this here https://github.com/docker/dev-environments/issues/52

Please fix ASAP if possible. Let me know if there's anything I can do to assist on my end.